{% extends '::base.html.twig' %}

{% block title %}
    SSR Sistema De Seguimiento de Residentes
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('/Symfony/css/jquery.dataTables.css')}}">
<link rel="stylesheet" type="text/css" href="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('/Symfony/css/bootstrap.css')}}">
<link rel="stylesheet" href="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('/Symfony/css/bootstrap-select.min.css')}}"/>
<link rel="stylesheet" type="text/css" href="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('/Symfony/css/bootstrapValidator.css')}}">
<link rel="stylesheet" type="text/css" href="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('/Symfony/css/ripples.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('/Symfony/css/material-wfont.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('/Symfony/css/snackbar.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('/Symfony/css/app.css')}}">
<link rel="stylesheet" type="text/css" href="{{app.request.scheme ~'://' ~ app.request.httpHost ~ asset('css/app.css')}}">


<script src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('/Symfony/js/jquery.js')}}"></script>
<script src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('/Symfony/js/bootstrap.js')}}"></script>
<script src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('/Symfony/js/bootstrapValidator.js')}}"></script>
<script src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('/Symfony/js/language/es_ES.js')}}"></script>
<script src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('/Symfony/js/jquery.dataTables.js')}}"></script>
<script src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('/Symfony/js/ripples.min.js')}}"></script>
<script src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('/Symfony/js/material.min.js')}}"></script>
<script src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('/Symfony/js/bootstrap-select.min.js')}}"></script>

<style type="text/css">
#bootstrapSelectForm .selectContainer .form-control-feedback {
    /* Adjust feedback icon position */
    right: -15px;
}
</style>
{% endblock %}
