{% extends 'XPSSSRBundle::principal.html.twig' %}

{% block body%}

    {{include ('XPSSSRBundle:Default:menu.html.twig')}}


<!--
        <section class="col-md-12">
        <div class="col-md-1">
            <ul class="nav nav-listgroup" role="tablist"> 
                <li role="presentation" class="active"><a href="#art1" role="tab" data-toggle="tab" >Articulo1</a></li>
                <li role="presentation"><a href="#art2" role="tab" data-toggle="tab">Articulo2</a></li>
                <li role="presentation"><a href="#art3" role="tab" data-toggle="tab">Articulo3</a></li>
                <li role="presentation"><a href="#art4" role="tab" data-toggle="tab">Articulo4</a></li>
            </ul>  
        </div>
        
    
            
            <ul class="nav nav-tabs" role="tablist"> 
                <li role="presentation" class="active"><a href="#art1" role="tab" data-toggle="tab" >Articulo1</a></li>
                <li role="presentation"><a href="#art2" role="tab" data-toggle="tab">Articulo2</a></li>
                <li role="presentation"><a href="#art3" role="tab" data-toggle="tab">Articulo3</a></li>
                <li role="presentation"><a href="#art4" role="tab" data-toggle="tab">Articulo4</a></li>
            </ul>
            
            
            <div class="tab-content"> 
                <div role="tabpanel" class="tab-pane active" id="art1">
                    <img class="img-responsive col-md-11" src="{{asset('/Symfony/img/Menu_007.png')}}" alt="Imagen" >
                </div>
                
                <div role="tabpanel"  class="tab-pane" id="art2">
                    <p>     morris
                            toggle bootstrap.js
                            prosbox virualizacion 7seg.
                    </p>
                </div>
                
                <div role="tabpanel" class="tab-pane"  id="art3">
                    
                </div>
                
                <div role="tabpanel" class="tab-pane"  id="art4">
                    
                </div>
            </div>
            
            
   
        </section>
        <footer class="col-md-12" >
            <div class="col-md-4">
                <h2>Contacto</h2>
                    <p>
                        algo
                    </p>
            </div>
                <div class="col-md-4">
                <h2>Info</h2>
                    <p>
                        algo
                    </p>  
                </div>
            <div class="col-md-4">
                <h2>Destacado</h2>
                    <p>
                        algo
                    </p>
            </div>
        </footer>
-->
    <table class="infobar"; width=100%; vertical-align:top;>
        <tr>
            <td width=65%; vertical-align:top;>
                <h3>Estado Actual de Residencias</h3>
            </td>
            
                            
            <td width=35%; align="right"; vertical-align:top;> 
            <div class="btn-group">
            <div class="btn-group ">
            <a href="javascript:void(0)" class="btn  btn-success btn-xs dropdown-toggle withripple" data-toggle="dropdown">
            Crear Oficios
            <span class="caret"></span>
            <div class="ripple-wrapper"></div></a>
            <ul class="dropdown-menu">                            
            <li>
                <form action="{{ path('xpsssr_Dictamen') }}" method="post">
                <button class="btn btn-default btn-xs withripple " type="submit">Dictaminar <div class="ripple-wrapper">                                 </div></button>
                </form>
            </li>
            </ul>
            </div>
            </div> 
            </td>

            
        </tr>
     </table>

<div class="table-responsive">
    <table   id="tablita" class="table table-condensed">
    <thead>
    <tr>
    <th>Prioridad</th>
    <th>Id residencia</th>
    <th>Periodo</th>
    <th>Ultima Revisión</th>
    <th>Nombre del proyecto</th>
    <th>Alumno</th>
    <th>No. de Control</th>
    <th>Email</th>
    <th>Telefono</th>
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
    {% if entity.getIdResidencia.Estado=="1" %}

    {% if entity.FechaLiberacion!=null and entity.NoOficioLiberacion!=null and entity.getEstado=="1"%}
        <tr class="finishHim">
        <td>4</td>
        
        {% else %}
            
            {% if 'ahora' in time_diff(entity.getIdResidencia.FechaRevision3)%}
            <tr class="warn">
            <td>2</td>
            {% else %}
            
            {% if  'en' in time_diff(entity.getIdResidencia.FechaRevision3) %}
                <tr class="xpass">
                <td>3</td>
            {% else %}
                    {% if  'hace' in time_diff(entity.getIdResidencia.FechaRevision3) %}
                        {% if  'día' in time_diff(entity.getIdResidencia.FechaRevision3) or 
                               'segundo' in time_diff(entity.getIdResidencia.FechaRevision3) or
                               'minuto' in time_diff(entity.getIdResidencia.FechaRevision3) or 
                               'hora' in time_diff(entity.getIdResidencia.FechaRevision3)  %}
                             <tr class="warn">
                             <td>2</td>
                        {% else %}
                            <tr class="fail">
                            <td>1</td> 
                        {% endif %}
                    
                    {% endif %}
            {% endif %}
             {% endif %}
        
    {% endif %}


        
        
    <td>{{ entity.getIdResidencia.getIdResidencia }}</td>
    <td>{{ entity.getIdResidencia.getNoDeControl.getPeriodo}}</td>
    <td>{{time_diff(entity.getIdResidencia.getFechaRevision3)}}</td>
    <td>{{ entity.getIdResidencia.NombreDeProyecto }}</td>
    <td>{{entity.getIdResidencia.getNoDeControl.getApPaterno}}&nbsp;{{entity.getIdResidencia.getNoDeControl.getApMaterno}}&nbsp;{{ entity.getIdResidencia.getNoDeControl.getNombre }}</td>
    <td>{{entity.getIdResidencia.getNoDeControl.getId}}</td>
    <td>{{ entity.getIdResidencia.getNoDeControl.getCorreo}}</td>
    <td>{{ entity.getIdResidencia.getNoDeControl.getTelefono}}</td>
    
    </tr>
        
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
    <script>
        $(document).ready(function() {
            $('#tablita').dataTable( {
                "sScrollX": "100%",
                "sScrollXInner": "100%",
                "sScrollY": "100%",
                "sScrollYInner": "100%",
                "bScrollCollapse": true,
                "language": {
                                "emptyTable":     "No hay entradas en la tabla",
                                "info":           "Mostrando de _START_ a  _END_ de _TOTAL_ entradas",
                                "infoEmpty":      "Mostrando 0 to 0 of 0 entradas",
                                "infoFiltered":   "(Filtrar por _MAX_ total de entradas)",
                                "infoPostFix":    "",
                                "thousands":      ",",
                                "lengthMenu":     "Mostrar _MENU_ entradas",
                                "loadingRecords": "Cargando...",
                                "processing":     "Procesando...",
                                "search":         "Buscar:",
                                "zeroRecords":    "No hay coincidencias",
                                "paginate": {
                                    "first":      "Primera",
                                    "last":       "Ultima",
                                    "next":       "Siguiente",
                                    "previous":   "Anterior"
                                },
                                "aria": {
                                    "sortAscending":  ": Ordenar de manera Ascendente",
                                    "sortDescending": ": Ordenar de manera Decendente"
                                }
                            }
            } );
        } );
    </script>

{%endblock%}
