<header class="menu">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
<div class="bs-component">
                            <div class="navbar navbar-inverse">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand" href="{{path('xpsssr_homepage')}}"> <div class="icon-preview"><i class="mdi-image-filter-center-focus"></i><span>&nbsp;S  S  R</span></div></a>
                                </div>
                                <div class="navbar-collapse collapse navbar-inverse-collapse">
                                    <ul class="nav navbar-nav">
                                        <li><a href="{{path('alumno')}}">Alumnos</a></li>
                                        <li><a href="{{path('asesorinterno')}}">Asesores</a></li>
                                        <li><a href="{{path('empresa')}}">Empresas</a></li>
                                        <li><a href="{{path('residencia')}}">Residencias</a></li>
                                        <li><a href="{{path('historial')}}">Historial</a></li>
                                    </ul>

                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="dropdown">
                                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user user" ></span>&nbsp;{{app.user.username}} <b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="{{path('fos_user_security_logout')}}">Cerrar Sesión</a></li>
                                                <li class="divider"></li>
                                                <li><a href="{{path('fos_user_profile_show')}}">Perfil</a></li>
                                                {% if is_granted("ROLE_ADMIN") %}
                                                <li><a href="{{path('fos_user_registration_register')}}">Crear usuario</a></li>
                                                {% endif %}
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>    
</header>
