{% extends 'proyectoejemploBundle::principal.html.twig' %}
{% block body %}
{{include ('proyectoejemploBundle:Default:arriba.html.twig')}}
  
   {% if  (app.session.get('lvl')==1) %}
<form action="{{ path('dale') }}" method="post" id="formulario">
    <h2>ingrese calificaciones para</h2>
    <h3>{{ga.idAlumno.Nombre}} {{ga.idAlumno.apellidoP}} {{ga.idAlumno.apellidoM}}  </h3>
    <h4>{{ga.idGrupo.idMateria.Nombre }} {{ga.idGrupo.clave }} {{ga.idGrupo.periodo }} {{ga.idGrupo.anio }}</h4> 
    <input type="hidden"name ="idgrupoAlumno" value="{{ga.id}}" required />
    <input type="hidden"name ="grupo" value="{{ga.idGrupo.id}}" required />
    <table width="100%">
        <tr>
            <th>U1</th>
            <th>U2</th>
            <th>U3</th>
            <th>U4</th>
            <th>U5</th>
            <th>U6</th>
            <th>U7</th>
            <th>U8</th>
            <th>U9</th>
            <th>Promedio</th>
        </tr>
        <tr>
            <td align="center"><input type="number" min="0" max="100" step="1" name ="u1" required /></td>
            <td align="center"><input type="number" min="0" max="100" step="1" name ="u2" required/></td>
            <td align="center"><input type="number" min="0" max="100" step="1" name ="u3" required/></td>
            <td align="center"><input type="number" min="0" max="100" step="1" name ="u4" required/></td>
            <td align="center"><input type="number" min="0" max="100" step="1" name ="u5" required/></td>
            <td align="center"><input type="number" min="0" max="100" step="1" name ="u6" required/></td>
            <td align="center"><input type="number" min="0" max="100" step="1" name ="u7" required/></td>
            <td align="center"><input type="number" min="0" max="100" step="1" name ="u8" required/></td>
            <td align="center"><input type="number" min="0" max="100" step="1" name ="u9" required/></td>
            <td align="center"><input type="number" min="0" max="100" step="1" name ="promedio" required size="5"></td>
        </tr>
    </table>
	<input type="submit" value="Siguiente">

</form>
{% endif %}
{{include ('proyectoejemploBundle:Default:abajo.html.twig')}}
{% endblock %}