{% extends 'proyectoejemploBundle::principal.html.twig' %}
{% block body %}
{{include ('proyectoejemploBundle:Default:arriba.html.twig')}}
  
   {% if  (app.session.get('lvl')==1) %}
                 	
    <h1>calificaciones list</h1>

    <table class="records_list" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>U1</th>
                <th>U2</th>
                <th>U3</th>
                <th>U4</th>
                <th>U5</th>
                <th>U6</th>
                <th>U7</th>
                <th>U8</th>
                <th>U9</th>
                <th>Promedio</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('calificaciones_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.u1 }}</td>
                <td>{{ entity.u2 }}</td>
                <td>{{ entity.u3 }}</td>
                <td>{{ entity.u4 }}</td>
                <td>{{ entity.u5 }}</td>
                <td>{{ entity.u6 }}</td>
                <td>{{ entity.u7 }}</td>
                <td>{{ entity.u8 }}</td>
                <td>{{ entity.u9 }}</td>
                <td>{{ entity.promedio }}</td>
                <td>
                
                    
                        <a href="{{ path('calificaciones_show', { 'id': entity.id }) }}">show</a>
                    
                        </br>
                        <a href="{{ path('calificaciones_edit', { 'id': entity.id }) }}">edit</a>
                    
                
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        
        
            <a href="{{ path('calificaciones_new') }}">
                Create a new entry
            </a>
        
    

{% endif %}
{{include ('proyectoejemploBundle:Default:abajo.html.twig')}}
{% endblock %}