{% extends 'proyectoejemploBundle::principal.html.twig' %}
{% block body %}
{{include ('proyectoejemploBundle:Default:arriba.html.twig')}}
  
   {% if  (app.session.get('lvl')==1) %}
                 	
    <h1>grupoAlumno list</h1>

    <table class="records_list" width="100%" >
        <thead>
            <tr>
                <th>Id</th>
                <th>Semestre</th>
                <th>no. de control</th>
                <th>Materia</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            {% if (entity.idGrupo.id == grupo)  %}
            <tr align="center">
                <td>{{ entity.id }}</td>
                <td>{{ entity.semestre }}</td>
                <td>{{ entity.idAlumno.NoCtrl }}</td>
                <td>{{ entity.idGrupo.idMateria.Nombre }}</td>
                <td>
                        </br>
                        <a href="{{ path('calificaciones_update', { 'id': entity.id }) }}">Calificar</a>

                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>


            <a href="{{ path('grupoAlumno_new') }}">
                Create a new entry
            </a>


{% endif %}
{{include ('proyectoejemploBundle:Default:abajo.html.twig')}}
{% endblock %}