{% extends 'proyectoejemploBundle::principal.html.twig' %}
{% block body %}
{{include ('proyectoejemploBundle:Default:arriba.html.twig')}}
  
   {% if  (app.session.get('lvl')==1) %}

    {{ form(edit_form) }}

       
        <a href="{{ path('profesores') }}">
            Back to the list
        </a>
    {{ form(delete_form) }}
{% endif %}
{{include ('proyectoejemploBundle:Default:abajo.html.twig')}}
{% endblock %}