{% block javascripts %}
			<script src="{{ asset('js/jquery.js') }}"></script>
			<script src="{{ asset('js/jquery.validate.js') }}"></script>
 			<script src="{{ asset('js/combodep.js') }}"></script>
			<script>
            $().ready(function() {
                $("#formulario").validate();
            });
        	</script>
{% endblock %}


{% extends 'proyectoejemploBundle::principal.html.twig' %}
{% block body %}
{{include ('proyectoejemploBundle:Default:arriba.html.twig')}}
  
   {% if  (app.session.get('lvl')==1) %}
    <h1>profesores creation</h1>

    <form action="{{ path('profesores_new1') }}" method="post" id="formulario">

	<table>

		<tr>
			<td>Nombre:</td>
			<td><input type="text" name ="n1"  required ></td>
		</tr>
		
		<tr>
			<td>Apellido Paterno:</td>
			<td><input type="text" name ="n2" required ></td>
		</tr>

		<tr>
			<td>Apellido Materno:</td>
			<td><input type="text" name ="n3" required ></td>
		</tr>


		<tr>
			<td>Genero:</td>
			<td><select name ="sex">
					<option value="H">H</option>
					<option value="M">M</option>
			</td>
		</tr>
		<tr>
        <td>Email (obligatorio)</td>
        <td><input type="email" id="email" name="email" required /></td>
        </tr>
        
        <tr>
        <td>RFC (obligatorio)</td>
        <td><input type="rfc" id="rfc" name="rfc" required /></td>
        </tr>

        <tr>
        <td>direccion:</td>
        <td><input type="text" name ="dir" required ></td>
        </tr>


        <td>contraseña:</td>
        <td><input type="text" name ="pass" required ></td>
        </tr>
        
        <td>noctrl:</td>
        <td><input type="number"  name ="noctrl" required ></td>
        </tr>

        <td>Nivel</td>
        <td><input type="number" id="lvl"  min="1" max="3" step="1"  name="lvl" required /></td>
        </tr>

        <td>Telefóno</td>
        <td><input type="number" id="tel" name="tel" required /></td>
        </tr>
	
	<tr>
	<td><input type="submit" value="Siguiente"></td>
	</tr>

    </table>



    </form>


        <a href="{{ path('profesores') }}">
            Back to the list
        </a>

{% endif %}
{{include ('proyectoejemploBundle:Default:abajo.html.twig')}}
{% endblock %}