{% extends 'proyectoejemploBundle::principal.html.twig' %}
{% block body %}
{{include ('proyectoejemploBundle:Default:arriba.html.twig')}}
  
   {% if  (app.session.get('lvl')==1) %}
    <h1>profesores</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Apellidop</th>
                <td>{{ entity.apellidoP }}</td>
            </tr>
            <tr>
                <th>Apellidom</th>
                <td>{{ entity.apellidoM }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ entity.direccion }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ entity.telefono }}</td>
            </tr>
            <tr>
                <th>Rfc</th>
                <td>{{ entity.rfc }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Contrasena</th>
                <td>{{ entity.contrasena }}</td>
            </tr>
            <tr>
                <th>Sexo</th>
                <td>{{ entity.sexo }}</td>
            </tr>
            <tr>
                <th>Noctrl</th>
                <td>{{ entity.noCtrl }}</td>
            </tr>
            <tr>
                <th>Nivel</th>
                <td>{{ entity.nivel }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
        </tbody>
    </table>


        <a href="{{ path('profesores') }}">
            Back to the list
        </a>
        </br>
        <a href="{{ path('profesores_edit', { 'id': entity.id }) }}">
            Edit
        </a>
        </br>
{% endif %}
{{include ('proyectoejemploBundle:Default:abajo.html.twig')}}
{% endblock %}