{% extends 'proyectoejemploBundle::principal.html.twig' %}

{% block title %} 
	Consultas materias
{% endblock %}


{% block body %}
<h1>Bienvenido a el sistema de tutorias consultas materias </h1>


{{ include('proyectoejemploBundle:Default:menu.html.twig') }}

<a href="{{ path('proyectoejemplo_consultas') }}">
	Ver otra tabla
</a>

<h1>Materias</h1>

<table>
	<tr>
		<th>ID</th>
		<th>Nombre</th>
		<th>Descripcion</th>
		<th>Status</th>
		<th>Reticula</th>
	</tr>

	{% for materia in mate %}
		<tr>
			<td>{{materia.id}}</td>
			<td>{{materia.nombre}}</td>
			<td>{{materia.descripcion}}</td>
			<td>{{materia.status}}</td>
			<td>{{materia.reticula}}</td>
		</tr>
	{% endfor %}

</table>

{% endblock %}