z{% extends 'proyectoejemploBundle::principal.html.twig' %}

{% block title %} 
	Consultas alumnos
{% endblock %}


{% block body %}
<h1>Bienvenido a el sistema de tutorias consultas alumnos</h1>

{{ include('proyectoejemploBundle:Default:menu.html.twig') }}

<a href="{{ path('proyectoejemplo_consultas') }}">
	Ver otra tabla
</a>

<h1>Alumnos</h1>

<table>
	<tr>
		<th>ID</th>
		<th>Nombre</th>
		<th>No. control</th>
		<th>Semestre</th>
		<th>Reticula</th>
		<th>Carrera</th>
		<th>Status</th>
	</tr>

	{% for alumno in alu %}
		<tr>
			<td>{{alumno.id}}</td>
			<td>{{alumno.nombre}}</td>
			<td>{{alumno.noctrl}}</td>
			<td>{{alumno.semestre}}</td>
			<td>{{alumno.reticula}}</td>
			<td>{{alumno.idcarrera}}</td>
			<td>{{alumno.status}}</td>
			</tr>
		{% endfor %}

</table>

{% endblock %}