{% extends 'proyectoejemploBundle::principal.html.twig' %}

{% block title %} 
	Consultas profesor
{% endblock %}


{% block body %}
	<h1>Bienvenido a el sistema de tutorias consultas profesores </h1>

	{{ include('proyectoejemploBundle:Default:menu.html.twig') }}

	<a href="{{ path('proyectoejemplo_consultas') }}">
		Ver otra tabla
	</a>

<h1>Profesores</h1>

<table>
	<tr>
		<th>ID</th>
		<th>Nombre</th>
		<th>No. control</th>
		<th>RFC</th>
		<th>Status</th>
	</tr>

	{% for profesor in profe %}
		</tr>
			<td>{{profesor.id}}</td>
			<td>{{profesor.nombre}}</td>
			<td>{{profesor.noctrl}}</td>
			<td>{{profesor.rfc}}</td>
			<td>{{profesor.status}}</td>
		</tr>
	{% endfor %}

</table>
{% endblock %}