{% extends 'proyectoejemploBundle::principal.html.twig' %}

{% block title %} 
	Ingresar datos
{% endblock %}


{% block body %}
<h1>Bienvenido a el sistema de tutorias seleccion </h1>

{{ include('proyectoejemploBundle:Default:menu.html.twig') }}

<h1>seleccione una tabla</h1>

<br/>
<a href="{{ path('proyectoejemplo_insertarmat') }}">
	Materias
</a>

<br/>
<a href="{{ path('proyectoejemplo_insertaralu') }}">
	Alumnos
</a>
<br/>
<a href="{{ path('proyectoejemplo_insertarprof') }}">
	Profesores
</a>
{% endblock %}