{% extends 'proyectoejemploBundle::principal.html.twig' %}



{% block body%}
<div id="place">
         {{include ('proyectoejemploBundle:Default:menu.html.twig')}}
{% if error %}
    <div><font color="red" >{{ error }}</font></div>
{% endif %}

<h1>Formulario de login</h1>
<form action="{{ path('login_check') }}" method="post">
<table>
	<tr>
    	<td><label for="username">Username:</label></td>
    	<td><input type="text" id="usu" name="usu"  /></td>
    </tr>
    <tr>
    	<td><label for="password">Password:</label></td>
    	<td><input type="password" id="pass" name="pass" /></td>
    </tr>
    <tr>
    	<td>&nbsp;</td>
    	<td><button type="submit">Entrar</button></td>
    </tr>
</table>
</form>
</div>
{% endblock %}