{% block body %}
</br>  
<table width=100% cellspacing="0" bgcolor="#f0a943">
    <tr>
        <td  >
             <img src="{{asset('img/cabecera.png')}}">
        </td>
    </tr>
    <tr>
        <td   align="right" valign="middle">
          <font color="#fff">  <h1>Bienvenido a el sistema de tutorias &nbsp </h1> </font>
        </td>
    </tr>
    {% if  (app.session.get('var')==1) %}   
    <tr>
        <td   align="right" valign="middle">
          <font color="#fff">     {{ app.session.get('nom_ses') }} {{ app.session.get('nom_ap') }} {{ app.session.get('nom_am') }} id: {{ app.session.get('whoami')}} &nbsp &nbsp
	<b><a href="{{path('exit')}}">Salir</a></b>  </font> &nbsp &nbsp
        </td>
    </tr>
    {% endif %}
</table>
{% endblock %}