
{% extends 'proyectoejemploBundle::principal.html.twig' %}
{% block body %}
    <div id="place">
        {{include ('proyectoejemploBundle:Default:menu.html.twig')}}
        <table cellspacing="0" width="100%" >
            <tr >
                <td  width="20%" bgcolor="#f0a943" height="400px" valign="top">

                    <h2>Acceso</h2>

                    <a href="#">
                    Tutor
                    </a>
                    <br/>
                    <a href="#">
                    Tutorados
                    </a>
                    

                    
                    
                </td>

                <td  width="80%" >
                             {% if error %}
                            <table width="70%"  >
                            <tr>
                                
                                    <td ><label align=right for="username"><h1><font size=3 color="red" >{{ error }}</font></h1></label></td>
                                
                                
                            </tr>
                            </table>
                            {% endif %}
                    
                    <form action="{{ path('login_check') }}" method="post" valign="middle" >
                        <center>
                            


                            <div class="exampleborderradiuse"><span class="examplelabelborderradius">
                        <table >
                            <tr>
                                <td ><label for="username"><h1>Username:</h1></label></td>
                                <td><input type="text" id="usu" name="usu"  /></td>
                            </tr>
                            <tr>
                                <td><label for="password"><h1>Password:</h1></label></td>
                                <td><input type="password" id="pass" name="pass" /></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td><button type="submit"><h2>Entrar</h2></button></td>
                            </tr>
                        </table>
                                </span></div>
                            </center>
                    </form>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}