{% extends 'XPSSSRBundle::principal.html.twig' %}

{% block body%}

    {{include ('XPSSSRBundle:Default:menu.html.twig')}}
       <table class="infobar"; width=100%; vertical-align:top;>
        <tr>
            <td width=65%; vertical-align:top;>
                <h3>Edición de Residencia</h3>
            </td>
            </section>

            <td width=35%; align="right"; vertical-align:top;>
                
                
            <a href="{{ path('residencia') }}" class="btn btn-inverse btn-xs">Regresar a la lista</a>&nbsp;

            </td>
            </section>
        </tr>
     </table>

  

    <form  action="{{ path('residencia_edita') }}" id="registrationForm" method="post" class="form-horizontal" id="formulario">

        <input type="hidden" name ="id" value="{{entity.id}}">
            <div class="form-group">
        <label class="col-sm-3 control-label">No. de Control: </label>
        <div class="col-sm-5 ">
            <select name="noctl" class="form-control">
                {% for alumno in alumnos %}
                    
                    {% if alumno.getEstado== '1' and '2015' in alumno.getPeriodo %}
                        {% if alumno.getId ==  entity.getNoDeControl.getID %}
                        <option value="{{alumno.getId}}" selected>{{alumno.getId}}</option>
                        {% else %}
                        <option value="{{alumno.getId}}" >{{alumno.getId}}</option>
                        {% endif%}
                    {% endif %}
                
                
                
                {% endfor %}
            </select>
        </div>
    </div>
        
            <div class="form-group">
        <label class="col-sm-3 control-label">Asesor Interno: </label>
        <div class="col-sm-5 ">
            <select name="aid" class="form-control">
                {% for asesor in asesores %}
                    {% if asesor.getEstado== '1' %}
                        
                {% if asesor.getId ==  entity.getIdAsesorInterno.getID %}
                <option value="{{asesor.getId}}" selected>{{asesor.getNombre}}&nbsp;{{asesor.getApPaterno}}&nbsp;    {{asesor.getApMaterno}}</option>
                {% else %}
                <option value="{{asesor.getId}}">{{asesor.getNombre}}&nbsp;{{asesor.getApPaterno}}&nbsp;    {{asesor.getApMaterno}}</option>
                
                
                
                {% endif %}
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
        
        
        
                    <div class="form-group">
        <label class="col-sm-3 control-label">Empresa: </label>
        <div class="col-sm-5 ">
            <select name="emp" class="form-control">
                {% for empresa in empresas %}
                    {% if empresa.getEstado== '1' %}
                    {% if empresa.getId ==  entity.getIdEmpresa.getID %}
                        <option value="{{empresa.getId}}" selected>{{empresa.getNombre}}</option>
                        {% else %}
                        <option value="{{empresa.getId}}">{{empresa.getNombre}}</option>
                    {% endif %}
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>

        
        
        
        <div class="form-group">
        <label class="col-sm-3 control-label">Id Residencia:</label>
        <div class="col-sm-5"> <input class="form-control" type="text" name ="idr" value="{{entity.getIdResidencia}}"  >
        </div>
        </div>
    
    
        
        <div class="form-group">
        <label class="col-sm-3 control-label">Recursos Humanos:</label>
        <div class="col-sm-5"> <input class="form-control" type="text" name ="noRH" value="{{entity.getRecursosHumanos}}" ></div>
        </div>
        
        <div class="form-group">
        <label class="col-sm-3 control-label">No. de oficio Asesor Interno:</label>
        <div class="col-sm-5"> <input class="form-control" type="text" name ="noAsesor" value="{{entity.getNoOficialAsesorInterno}}" ></div>
        </div>
        

        
                <div class="form-group">
        <label class="col-sm-3 control-label">Asesor Externo:</label>
        <div class="col-sm-5"> <input class="form-control" type="text" name ="asesorE" value="{{entity.getAsesorExterno}}"></div>
        </div>
        
        <div class="form-group">
        <label class="col-sm-3 control-label">Nombre del Proyeccto:</label>
        <div class="col-sm-5"> <input class="form-control" type="text" name ="Proyecto" value="{{entity.getNombreDeProyecto}}" ></div>
        </div>
        
       <div class="form-group">
        <label class="col-sm-3 control-label">Fecha Dictamen:</label>
        <div class="col-sm-5"> <input class="form-control" type="date" name ="FD" value="{{entity.getFechaDictamen|date('Y-m-d')}}"></div>
        </div>
        
        <div class="form-group">
        <label class="col-sm-3 control-label">Fecha Revisión 1:</label>
        <div class="col-sm-5"> <input class="form-control" type="date" name ="F1" value="{{entity.getFechaRevision1|date('Y-m-d')}}"></div>
        </div>
        
        
        <div class="form-group">
        <label class="col-sm-3 control-label">Fecha Revisión 2:</label>
        <div class="col-sm-5"> <input class="form-control" type="date" name ="F2" value="{{entity.getFechaRevision2|date('Y-m-d')}}" ></div>
        </div>
        
        <div class="form-group">
        <label class="col-sm-3 control-label">Fecha Revisión 3:</label>
        <div class="col-sm-5"> <input class="form-control" type="date" name ="F3" value="{{entity.getFechaRevision3|date('Y-m-d')}}" ></div>
        </div>
    
        <div class="form-group">
            <label for="textArea" class="col-sm-3 control-label">Observaciones:</label>
            <div class="col-sm-5">
                <textarea class="form-control" rows="3" id="textArea" name="obs" value="{{entity.getObservaciones}}"></textarea>
            </div>
        </div>
            
        
        <div class="form-group">
        <label class="col-sm-3 control-label">Estado:</label>
        <div class="col-sm-5">
        <div class="radio" >
        <label>
        {% if entity.Estado=="1" %}
        <input type="radio" name="estado" value="1" checked ><span class="circle"></span><span class="check"></span>Activo
        {% else %}
        <input type="radio" name="estado" value="1" ><span class="circle"></span><span class="check"></span>Activo
        {% endif %}
        </label>
        </div>
        <div class="radio">
        <label>
        {% if entity.Estado=="0" %}
        <input type="radio" name="estado" value="0" checked ><span class="circle"></span><span class="check"></span>Baja
        {% else %}
        <input type="radio" name="estado" value="0" ><span class="circle"></span><span class="check"></span>Baja
        {% endif %}
        </label>
        </div>
        </div>
        </div>
            
        
            <div class="form-group">
    <div class="col-sm-9 col-sm-offset-3">
    <!-- Do NOT use name="submit" or id="submit" for the Submit button -->
    <button class="btn btn-lg btn-primary" type="submit" id="_submit" name="_submit">Agregar</button>
    </div>
    </div>
</form>
</div>
</div>
</div>

<script>
    $(document).ready(function() {
    $('#registrationForm')   
            .find('[name="noctl"]')
            .selectpicker()
            .change(function(e) {
                // revalidate the noctl when it is changed
                $('#registrationForm').bootstrapValidator('revalidateField', 'noctl');
            })
            .end()
            .find('[name="emp"]')
            .selectpicker()
            .change(function(e) {
                // revalidate the noctl when it is changed
                $('#registrationForm').bootstrapValidator('revalidateField', 'emp');
            })
            .end()
            .find('[name="aid"]')
            .selectpicker()
            .change(function(e) {
                // revalidate the noctl when it is changed
                $('#registrationForm').bootstrapValidator('revalidateField', 'aid');
            })
            .end()
            .bootstrapValidator({
        // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            asesorE: {
                message: 'El nombre no es valido',
                validators: {
                    notEmpty: {
                       
                    },
                    regexp: {
                       regexp: /^[a-zA-Z.áéÁÉíÍóÓÚúñÑ\s]+$/i,
                        message: 'Este campo solo puede contener letras'
                    }
                }
            },
            Proyecto: {
                validators: {
                    notEmpty: {
                       
                    }
                }
            },
            FD: {
                validators: {
                    notEmpty: {
                       
                    }
                }
            },
            F1: {
                validators: {
                    notEmpty: {
                       
                    }
                }
            },
            F2: {
                validators: {
                    notEmpty: {
                       
                    }
                }
            },
            F3: {
                validators: {
                    notEmpty: {
                       
                    }
                }
            },noAsesor: {
                validators: {
                    notEmpty: {
                       
                    },
                    regexp: {
                        regexp: /^[0-9]+$/,
                        message: 'solo numeros enteros'
                    },
                    stringLength: {
                        min: 8,
                        max: 8,
                        message: 'Este campo debe contener 8 numeros'
                    }
                }
            }
            
            
            ,
            noRH: {
                validators: {
                    notEmpty: {
                       
                    },
                    regexp: {
                        regexp: /^[0-9]+$/,
                        message: 'solo numeros enteros'
                    },
                    stringLength: {
                        min: 8,
                        max: 8,
                        message: 'Este campo debe contener 8 numeros'
                    }
                }
            },
            idr: {
                validators: {
                    notEmpty: {
                       
                    },
                    regexp: {
                        regexp: /^[0-9]+$/,
                        message: 'solo numeros enteros'
                    }
                }
            },
                            noctl: {
                    validators: {
                        notEmpty: {
                            message: 'Debe seleccionar un valor.'
                        }
                    }
                },           
                aid: {
                    validators: {
                        notEmpty: {
                            message: 'Debe seleccionar un valor.'
                        }
                    }
                }

        }
    });
});
</script>


{% endblock %}
