{% extends 'XPSSSRBundle::principal.html.twig' %}

{% block body%}

    {{include ('XPSSSRBundle:Default:menu.html.twig')}}

    <table class="infobar"; width=100%; vertical-align:top;>
        <tr>
            <td width=65%; vertical-align:top;>
                <h3>Lista de Residencias</h3>
            </td>
            <td  width=35%; align="right"; vertical-align:top;>
    <a href={{path('residencia_new')}}  class="btn btn-success" ><span class="glyphicon glyphicon-plus-sign plus-sign"></span>&nbsp;Nuevo</a>

            </td>
        </tr>
     </table>

<div class="table-responsive">
    <table   id="tablita" class="table table-hover table-condensed">
        <thead>
            <tr>
                <th>Id residencia</th>
                <th>Recursos humanos</th>
                <th>Asesor externo</th>
                <th>Nombre del proyecto</th>
                <th>Fecha dictamen</th>
                <th>Fecha revision 1</th>
                <th>Fecha revision 2</th>
                <th>Fecha revision 3</th>
                <th>Observaciones</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.IdResidencia }}</td>
                <td>{{ entity.RecursosHumanos }}</td>
                <td>{{ entity.AsesorExterno }}</td>
                <td>{{ entity.NombreDeProyecto }}</td>
                <td>{% if entity.FechaDictamen %}{{ entity.FechaDictamen|date('Y-m-d') }}{% endif %}</td>
                <td>{% if entity.FechaRevision1 %}{{ entity.FechaRevision1|date('Y-m-d') }}{% endif %}</td>
                <td>{% if entity.FechaRevision2 %}{{ entity.FechaRevision2|date('Y-m-d') }}{% endif %}</td>
                <td>{% if entity.FechaRevision3 %}{{ entity.FechaRevision3|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.Observaciones }}</td>
                {% if entity.Estado=="0" %}
                <td> Baja </td>
                {% endif %}
                
                {% if entity.Estado=="1" %}
                <td> Activo </td>
                {% endif %}
                 <td><a href="{{ path('residencia_show', { 'id': entity.id }) }}">Mostrar</a> &nbsp; &nbsp;<a href="{{ path('residencia_edit', { 'id': entity.id }) }}">Editar</a>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

    <script>
        $(document).ready(function() {
            $('#tablita').dataTable( {
                "sScrollX": "100%",
                "sScrollXInner": "100%",
                "sScrollY": "100%",
                "sScrollYInner": "100%",
                "bScrollCollapse": true,
                "language": {
                                "emptyTable":     "No hay entradas en la tabla",
                                "info":           "Mostrando de _START_ a  _END_ de _TOTAL_ entradas",
                                "infoEmpty":      "Mostrando 0 to 0 of 0 entradas",
                                "infoFiltered":   "(Filtrar por _MAX_ total de entradas)",
                                "infoPostFix":    "",
                                "thousands":      ",",
                                "lengthMenu":     "Mostrar _MENU_ entradas",
                                "loadingRecords": "Cargando...",
                                "processing":     "Procesando...",
                                "search":         "Buscar:",
                                "zeroRecords":    "No hay coincidencias",
                                "paginate": {
                                    "first":      "Primera",
                                    "last":       "Ultima",
                                    "next":       "Siguiente",
                                    "previous":   "Anterior"
                                },
                                "aria": {
                                    "sortAscending":  ": Ordenar de manera Ascendente",
                                    "sortDescending": ": Ordenar de manera Decendente"
                                }
                            }
            } );
        } );
    </script>
    {% endblock %}
