{% extends 'XPSSSRBundle::principal.html.twig' %}

{% block body%}

    {{include ('XPSSSRBundle:Default:menu.html.twig')}}
       <table class="infobar"; width=100%; vertical-align:top;>
        <tr>
            <td width=65%; vertical-align:top;>
                <h3>Nueva Residencia</h3>
            </td>
            </section>
            
            <td width=35%; align="right"; vertical-align:top;>
                
                
            <a href="{{ path('residencia') }}" class="btn btn-inverse btn-xs">Regresar a la lista</a>&nbsp;

            </td>
            </section>
        </tr>
     </table>

<div class="container">
<div class="row">
<div class="col-md-8 col-md-offset-2">
    

  

    <form  action="{{ path('residencia_nvo') }}" id="registrationForm" method="post" class="form-horizontal" id="formulario">

            <div class="form-group">
        <label class="col-sm-3 control-label">No. de Control: </label>
        <div class="col-sm-5 ">
            <select name="noctl" class="form-control">
                {% for alumno in alumnos %}
                    
                    {% if alumno.getEstado== '1' and '2015' in alumno.getPeriodo %}
                        {% if "now"|date("m") == 01 or
                              "now"|date("m") == 02 or
                              "now"|date("m") == 03 or
                              "now"|date("m") == 04 or
                              "now"|date("m") == 05 or
                              "now"|date("m") == 06 or
                              "now"|date("m") == 07  %}
                
                        {% if 'ENE' in alumno.getPeriodo %}
                        <option value="{{alumno.getId}}">{{alumno.getId}}</option>
                        {% endif %}
                        {% endif %}
                
                    {% if "now"|date("m") == 08 or
                              "now"|date("m") == 09 or
                              "now"|date("m") == 10 or
                              "now"|date("m") == 11 or
                              "now"|date("m") == 12 %}
                        {% if 'AGO' in alumno.getPeriodo %}
                        <option value="{{alumno.getId}}">{{alumno.getId}}</option>
                        {% endif %}
                        {% endif %}
                    {% endif %}
                
                
                
                {% endfor %}
            </select>
        </div>
    </div>
        
            <div class="form-group">
        <label class="col-sm-3 control-label">Asesor Interno: </label>
        <div class="col-sm-5 ">
            <select name="aid" class="form-control">
                {% for asesor in asesores %}
                    {% if asesor.getEstado== '1' %}
                        <option value="{{asesor.getId}}">{{asesor.getNombre}}&nbsp;{{asesor.getApPaterno}}&nbsp;{{asesor.getApMaterno}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
        
        
        
                    <div class="form-group">
        <label class="col-sm-3 control-label">Empresa: </label>
        <div class="col-sm-5 ">
            <select name="emp" class="form-control">
                {% for empresa in empresas %}
                    {% if empresa.getEstado== '1' %}
                        <option value="{{empresa.getId}}">{{empresa.getNombre}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>

        
        
        
        <div class="form-group">
        <label class="col-sm-3 control-label">Id Residencia:</label>
        <div class="col-sm-5"> <input class="form-control" type="text" name ="idr" >
        </div>
        </div>
    
    
        
        <div class="form-group">
        <label class="col-sm-3 control-label">Recursos Humanos:</label>
        <div class="col-sm-5"> <input class="form-control" type="text" name ="noRH" ></div>
        </div>
        
        <div class="form-group">
        <label class="col-sm-3 control-label">No. de oficio Asesor Interno:</label>
        <div class="col-sm-5"> <input class="form-control" type="text" name ="noAsesor" ></div>
        </div>
        

        
                <div class="form-group">
        <label class="col-sm-3 control-label">Asesor Externo:</label>
        <div class="col-sm-5"> <input class="form-control" type="text" name ="asesorE" ></div>
        </div>
        
        <div class="form-group">
        <label class="col-sm-3 control-label">Nombre del Proyeccto:</label>
        <div class="col-sm-5"> <input class="form-control" type="text" name ="Proyecto" ></div>
        </div>
        
       <div class="form-group">
        <label class="col-sm-3 control-label">Fecha Dictamen:</label>
        <div class="col-sm-5"> <input class="form-control" type="date" name ="FD" ></div>
        </div>
        
        <div class="form-group">
        <label class="col-sm-3 control-label">Fecha Revisión 1:</label>
        <div class="col-sm-5"> <input class="form-control" type="date" name ="F1" ></div>
        </div>
        
        
        <div class="form-group">
        <label class="col-sm-3 control-label">Fecha Revisión 2:</label>
        <div class="col-sm-5"> <input class="form-control" type="date" name ="F2" ></div>
        </div>
        
        <div class="form-group">
        <label class="col-sm-3 control-label">Fecha Revisión 3:</label>
        <div class="col-sm-5"> <input class="form-control" type="date" name ="F3" ></div>
        </div>
    
        <div class="form-group">
            <label for="textArea" class="col-sm-3 control-label">Observaciones:</label>
            <div class="col-sm-5">
                <textarea class="form-control" rows="3" id="textArea" name="obs"></textarea>
            </div>
        </div>
            
            
        
            <div class="form-group">
    <div class="col-sm-9 col-sm-offset-3">
    <!-- Do NOT use name="submit" or id="submit" for the Submit button -->
    <button class="btn btn-lg btn-primary" type="submit" id="_submit" name="_submit">Agregar</button>
    </div>
    </div>
</form>
</div>
</div>
</div>

<script>
    $(document).ready(function() {
    $('#registrationForm')   
            .find('[name="noctl"]')
            .selectpicker()
            .change(function(e) {
                // revalidate the noctl when it is changed
                $('#registrationForm').bootstrapValidator('revalidateField', 'noctl');
            })
            .end()
            .find('[name="emp"]')
            .selectpicker()
            .change(function(e) {
                // revalidate the noctl when it is changed
                $('#registrationForm').bootstrapValidator('revalidateField', 'emp');
            })
            .end()
            .find('[name="aid"]')
            .selectpicker()
            .change(function(e) {
                // revalidate the noctl when it is changed
                $('#registrationForm').bootstrapValidator('revalidateField', 'aid');
            })
            .end()
            .bootstrapValidator({
        // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            asesorE: {
                message: 'El nombre no es valido',
                validators: {
                    notEmpty: {
                       
                    },
                    regexp: {
                       regexp: /^[a-zA-Z.áéÁÉíÍóÓÚúñÑ\s]+$/i,
                        message: 'Este campo solo puede contener letras'
                    }
                }
            },
            Proyecto: {
                validators: {
                    notEmpty: {
                       
                    }
                }
            },
            FD: {
                validators: {
                    notEmpty: {
                       
                    }
                }
            },
            F1: {
                validators: {
                    notEmpty: {
                       
                    }
                }
            },
            F2: {
                validators: {
                    notEmpty: {
                       
                    }
                }
            },
            F3: {
                validators: {
                    notEmpty: {
                       
                    }
                }
            },noAsesor: {
                validators: {
                    notEmpty: {
                       
                    },
                    regexp: {
                        regexp: /^[0-9]+$/,
                        message: 'solo numeros enteros'
                    },
                    stringLength: {
                        min: 8,
                        max: 8,
                        message: 'Este campo debe contener 8 numeros'
                    }
                }
            }
            
            
            ,
            noRH: {
                validators: {
                    notEmpty: {
                       
                    },
                    regexp: {
                        regexp: /^[0-9]+$/,
                        message: 'solo numeros enteros'
                    },
                    stringLength: {
                        min: 8,
                        max: 8,
                        message: 'Este campo debe contener 8 numeros'
                    }
                }
            },
            idr: {
                validators: {
                    notEmpty: {
                       
                    },
                    regexp: {
                        regexp: /^[0-9]+$/,
                        message: 'solo numeros enteros'
                    }
                }
            },
                            noctl: {
                    validators: {
                        notEmpty: {
                            message: 'Debe seleccionar un valor.'
                        }
                    }
                },           
                aid: {
                    validators: {
                        notEmpty: {
                            message: 'Debe seleccionar un valor.'
                        }
                    }
                }

        }
    });
});
</script>

{% endblock %}
