{% extends 'XPSSSRBundle::principal.html.twig' %}

{% block body%}

    {{include ('XPSSSRBundle:Default:menu.html.twig')}}
       <table class="infobar"; width=100%; vertical-align:top;>
        <tr>
            <td width=65%; vertical-align:top;>
                <h3>Ver Residencia</h3>
            </td>
            </section>
            
            <td width=35%; align="right"; vertical-align:top;>
                
                
            <a href="{{ path('residencia') }}" class="btn btn-inverse btn-xs">Regresar a la lista</a>&nbsp;
            <a href="{{ path('residencia_edit', { 'id': entity.id }) }}" class="btn btn-inverse btn-xs">Editar</a>&nbsp;
            <a href="{{ path('residencia_disa', { 'id': entity.id }) }}" class="btn btn-inverse btn-xs">Eliminar</a>&nbsp;

            </td>
            </section>
        </tr>
     </table>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Idresidencia</th>
                <td>{{ entity.IdResidencia }}</td>
            </tr>
            <tr>
                <th>Recursoshumanos</th>
                <td>{{ entity.RecursosHumanos }}</td>
            </tr>
            <tr>
                <th>Nooficialasesorinterno</th>
                <td>{{ entity.NoOficialAsesorInterno }}</td>
            </tr>
            <tr>
                <th>Asesorexterno</th>
                <td>{{ entity.AsesorExterno }}</td>
            </tr>
            <tr>
                <th>Nombredeproyecto</th>
                <td>{{ entity.NombreDeProyecto }}</td>
            </tr>
            <tr>
                <th>Fechadictamen</th>
                <td>{{ entity.FechaDictamen|date('d-m-Y') }}</td>
            </tr>
            <tr>
                <th>Fecharevision1</th>
                <td>{{ entity.FechaRevision1|date('d-m-Y') }}</td>
            </tr>
            <tr>
                <th>Fecharevision2</th>
                <td>{{ entity.FechaRevision2|date('d-m-Y') }}</td>
            </tr>
            <tr>
                <th>Fecharevision3</th>
                <td>{{ entity.FechaRevision3|date('d-m-Y') }}</td>
            </tr>
            <tr>
                <th>Observaciones</th>
                <td>{{ entity.Observaciones }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                
                {% if entity.Estado=="0" %}
                <td> Baja </td>
                {% endif %}
                
                {% if entity.Estado=="1" %}
                <td> Activo </td>
                {% endif %}
                
            </tr>
        </tbody>
    </table>


{% endblock %}
