{% extends 'XPSSSRBundle::principal.html.twig' %}

{% block body%}

    {{include ('XPSSSRBundle:Default:menu.html.twig')}}


       <table class="infobar"; width=100%; vertical-align:top;>
        <tr>
            <td width=65%; vertical-align:top;>
                <h3>Edición de un Alumno</h3>
            </td>
            </section>
            
            <td width=35%; align="right"; vertical-align:top;>
                <a href="{{ path('alumno') }}" class="btn btn-inverse btn-xs">Regresar a la lista</a>&nbsp;
            </td>
            </section>
        </tr>
     </table>



<div class="container">
<div class="row">
<div class="col-md-8 col-md-offset-2">
    <form  action="{{ path('alumno_edita') }}"  id="registrationForm" method="post" class="form-horizontal" id="formulario">
        <input type="hidden" name ="noctrl_v" value="{{entity.id}}">

        <div class="form-group">
        <label class="col-sm-3 control-label">Nombre:</label>
        <div class="col-sm-5"> <input class="form-control" type="text" name ="n1" value="{{entity.Nombre}}"></div>
        </div>
        
        <div class="form-group">
        <label class="col-sm-3 control-label">Apellido Paterno:</label>
        <div class="col-sm-5"> <input class="form-control" type="text" name ="n2" value="{{entity.ApPaterno}}"></div>
        </div>
        
        <div class="form-group">
        <label class="col-sm-3 control-label">Apellido Materno:</label>
        <div class="col-sm-5"> <input class="form-control" type="text" name ="n3" value="{{entity.ApMaterno}}"></div>
        </div>
        
        
        
            <div class="form-group">
            <label class="col-sm-3 control-label">Sexo:</label>
            <div class="col-sm-5">
            <div class="radio" >
            <label>
            {% if entity.Sexo=="H" %}
            <input type="radio" name="sexo" value="H" checked ><span class="circle"></span><span class="check"></span>Hombre
            {% else %}
            <input type="radio" name="sexo" value="H" ><span class="circle"></span><span class="check"></span>Hombre
            {% endif %}
            </label>
            </div>
            <div class="radio">
            <label>
            {% if entity.Sexo=="M" %}
            <input type="radio" name="sexo" value="M" checked ><span class="circle"></span><span class="check"></span>Mujer
            {% else %}
            <input type="radio" name="sexo" value="M" ><span class="circle"></span><span class="check"></span>Mujer
            {% endif %}
            </label>
            </div>
            </div>
            </div>

            
            
        <div class="form-group">
        <label class="col-sm-3 control-label">Email</label>
        <div class="col-sm-5"> <input class="form-control" type="email"  name="email" value="{{entity.Correo}}" /></div>
        </div>
        
        
        
        <div class="form-group">
        <label class="col-sm-3 control-label">No de Control:</label>
        <div class="col-sm-5"> <input class="form-control" type="text"  name ="noctrl" value="{{entity.id}}">
        </div>
        </div>
        
        <div class="form-group">
        <label class="col-sm-3 control-label">Semestre</label>
        <div class="col-sm-5">
        <select class="form-control" name="per1">
        {% if  'AGO-DIC' in entity.Periodo %}
        <option value="AGO-DIC "  selected>AGO-DIC</option>
        {% else %}
        <option value="AGO-DIC ">AGO-DIC</option> 
        {% endif %}
        {% if  'ENE-JUN' in entity.Periodo %}
        <option value="ENE-JUN "  selected>ENE-JUN</option>
        {% else %}
        <option value="ENE-JUN ">ENE-JUN</option> 
        {% endif %}
        </select>
        </div>
        </div>
    
        <div class="form-group">
        <label class="col-sm-3 control-label">Año</label>
        <div class="col-sm-5">
        <select class="form-control" name="per2">
        {% if  '2015' in entity.Periodo %}
        <option value="2015"  selected>2015</option>
        {% else %}
        <option value="2015">2015</option> 
        {% endif %}
        {% if  '2016' in entity.Periodo %}
        <option value="2016"  selected>2016</option>
        {% else %}
        <option value="2016">2016</option> 
        {% endif %}
        {% if  '2017' in entity.Periodo %}
        <option value="2017"  selected>2017</option>
        {% else %}
        <option value="2017">2017</option> 
        {% endif %}
        {% if  '2018' in entity.Periodo %}
        <option value="2018"  selected>2018</option>
        {% else %}
        <option value="2018">2018</option> 
        {% endif %}
        {% if  '2019' in entity.Periodo %}
        <option value="2019"  selected>2019</option>
        {% else %}
        <option value="2019">2019</option> 
        {% endif %}

        </select>
        </div>
        </div>
        
        
        <div class="form-group">
        <label class="col-sm-3 control-label">Teléfono</label>
        <div class="col-sm-5"> <input class="form-control" type="tel" name="tel" value="{{entity.Telefono}}" /></div>
        </div>
        
        
        
        <div class="form-group">
        <label class="col-sm-3 control-label">Estado:</label>
        <div class="col-sm-5">
        <div class="radio" >
        <label>
        {% if entity.Estado=="1" %}
        <input type="radio" name="estado" value="1" checked ><span class="circle"></span><span class="check"></span>Activo
        {% else %}
        <input type="radio" name="estado" value="1" ><span class="circle"></span><span class="check"></span>Activo
        {% endif %}
        </label>
        </div>
        <div class="radio">
        <label>
        {% if entity.Estado=="0" %}
        <input type="radio" name="estado" value="0" checked ><span class="circle"></span><span class="check"></span>Baja
        {% else %}
        <input type="radio" name="estado" value="0" ><span class="circle"></span><span class="check"></span>Baja
        {% endif %}
        </label>
        </div>
        </div>
        </div>



    <div class="form-group">
    <div class="col-sm-9 col-sm-offset-3">
    <!-- Do NOT use name="submit" or id="submit" for the Submit button -->
    <button class="btn btn-lg btn-primary" type="submit" id="_submit" name="_submit">Agregar</button>
    </div>
    </div>

    

</form>


</div>
</div>
</div>

<script>
    $(document).ready(function() {
    $('#registrationForm').bootstrapValidator({
        // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            n1: {
                message: 'El nombre no es valido',
                validators: {
                    notEmpty: {

                    },
                    regexp: {
                        regexp: /^[a-zA-ZáéÁÉíÍóÓÚúñÑ\s]+$/i,
                        message: 'Este campo solo puede contener letras'
                    }
                }
            },
            n2: {
                message: 'El Apellido no es valido',
                validators: {
                    notEmpty: {
                       
                    },
                    regexp: {
                       regexp: /^[a-zA-ZáéÁÉíÍóÓÚúñÑ\s]+$/i,
                        message: 'Este campo solo puede contener letras'
                    }
                }
            },
            n3: {
                message: 'El Apellido no es valido',
                validators: {
                    notEmpty: {
                       
                    },
                    regexp: {
                        regexp: /^[a-zA-ZáéÁÉíÍóÓÚúñÑ\s]+$/i,
                        message: 'Este campo solo puede contener letras'
                    }
                }
            },
            sexo: {
                validators: {
                    notEmpty: {
                       
                    }
                }
            },
            estado: {
                validators: {
                    notEmpty: {
                       
                    }
                }
            },
            noctrl: {
                validators: {
                    notEmpty: {
                       
                    },
                    regexp: {
                        regexp: /^[0-9]+$/,
                        message: 'solo numeros enteros'
                    },
                    stringLength: {
                        min: 8,
                        max: 8,
                        message: 'Este campo debe contener 8 numeros'
                    }
                }
            }
            ,
            tel: {
                validators: {
                    notEmpty: {
                       
                    },
                    regexp: {
                        regexp: /^[0-9]+$/,
                        message: 'solo numeros enteros'
                    },
                    stringLength: {
                        min: 10,
                        max: 14,
                    }
                }
            }
            ,
            email: {
                validators: {
                    notEmpty: {
                       
                    }
                }
            }
        }
    });
});
</script>

{% endblock %}
