{% extends 'XPSSSRBundle::principal.html.twig' %}

{% block body%}

    {{include ('XPSSSRBundle:Default:menu.html.twig')}}


    <table class="infobar"; width=100%; vertical-align:top;>
        <tr>
            <td width=65%; vertical-align:top;>
                <h3>Lista de Alumnos</h3>
            </td>
            </section>
            
            <td width=35%; align="right"; vertical-align:top;>
                <a href={{path('alumno_new')}}  class="btn btn-success" ><span class="glyphicon glyphicon-plus-sign plus-sign"></span>&nbsp;Nuevo</a>
                                

            </td>
            </section>
        </tr>
     </table>

<div class="table-responsive">
    <table  id="tablita" class="table table-hover table-condensed " >
        <thead>
            <tr>
                <th>No. De Control</th>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Correo</th>
                <th>Periodo</th>
                <th>Estado</th>
                <th>Acciones</th>
                
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.ApPaterno }} {{ entity.ApMaterno }} {{ entity.Nombre }}</td>
                <td>{{ entity.Telefono }}</td>
                <td>{{ entity.Correo }}</td>
                <td>{{ entity.Periodo }}</td>
                {% if entity.Estado=="0" %}
                <td> Baja </td>
                {% endif %}
                
                {% if entity.Estado=="1" %}
                <td> Activo </td>
                {% endif %}
                <td><a href="{{ path('alumno_show', { 'id': entity.id }) }}">Mostrar</a> &nbsp; &nbsp;<a href="{{ path('alumno_edit', { 'id': entity.id }) }}">Editar</a>
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

    </div>
    <script>
        $(document).ready(function() {
            $('#tablita').dataTable( {
                "sScrollX": "100%",
                "sScrollXInner": "100%",
                "sScrollY": "100%",
                "sScrollYInner": "100%",
                "bScrollCollapse": true,
                "language": {
                                "emptyTable":     "No hay entradas en la tabla",
                                "info":           "Mostrando de _START_ a  _END_ de _TOTAL_ entradas",
                                "infoEmpty":      "Mostrando 0 to 0 of 0 entradas",
                                "infoFiltered":   "(Filtrar por _MAX_ total de entradas)",
                                "infoPostFix":    "",
                                "thousands":      ",",
                                "lengthMenu":     "Mostrar _MENU_ entradas",
                                "loadingRecords": "Cargando...",
                                "processing":     "Procesando...",
                                "search":         "Buscar:",
                                "zeroRecords":    "No hay coincidencias",
                                "paginate": {
                                    "first":      "Primera",
                                    "last":       "Ultima",
                                    "next":       "Siguiente",
                                    "previous":   "Anterior"
                                },
                                "aria": {
                                    "sortAscending":  ": Ordenar de manera Ascendente",
                                    "sortDescending": ": Ordenar de manera Decendente"
                                }
                            }
            } );
        } );
    </script>
    {% endblock %}
