{% extends 'XPSSSRBundle::principal.html.twig' %}

{% block body%}

    {{include ('XPSSSRBundle:Default:menu.html.twig')}}

       <table class="infobar"; width=100%; vertical-align:top;>
        <tr>
            <td width=65%; vertical-align:top;>
                <h3>Crear un nuevo Alumno</h3>
            </td>
            </section>
            
            <td width=35%; align="right"; vertical-align:top;>
                <a href="{{ path('alumno') }}" class="btn btn-inverse btn-xs">Regresar a la lista</a>&nbsp;
            </td>
            </section>
        </tr>
     </table>


        
<div class="container">
<div class="row">
<div class="col-md-8 col-md-offset-2">
    <form  action="{{ path('alumno_nvo') }}"  id="registrationForm" method="post" class="form-horizontal" id="formulario">


        <div class="form-group">
        <label class="col-sm-3 control-label">Nombre:</label>
        <div class="col-sm-5"> <input class="form-control" type="text" name ="n1" ></div>
        </div>
        
        <div class="form-group">
        <label class="col-sm-3 control-label">Apellido Paterno:</label>
        <div class="col-sm-5"> <input class="form-control" type="text" name ="n2" ></div>
        </div>
        
        <div class="form-group">
        <label class="col-sm-3 control-label">Apellido Materno:</label>
        <div class="col-sm-5"> <input class="form-control" type="text" name ="n3" ></div>
        </div>
        
    
        
            <div class="form-group">
            <label class="col-sm-3 control-label">Sexo:</label>
            <div class="col-sm-5">
            <div class="radio" >
            <label>
            <input type="radio" name="sexo" value="H" checked ><span class="circle"></span><span class="check"></span>
            Hombre
            </label>
            </div>
            <div class="radio">
            <label>
            <input type="radio" name="sexo"value="M"><span class="circle"></span><span class="check"></span>
            Mujer
            </label>
            </div>
            </div>
            </div>

            
            
        <div class="form-group">
        <label class="col-sm-3 control-label">Email</label>
        <div class="col-sm-5"> <input class="form-control" type="email"  name="email" /></div>
        </div>
        
        
        
        <div class="form-group">
        <label class="col-sm-3 control-label">No de Control:</label>
        <div class="col-sm-5"> <input class="form-control" type="text"  name ="noctrl">
        </div>
        </div>
        
        <div class="form-group">
        <label class="col-sm-3 control-label">Semestre</label>
        <div class="col-sm-5">
        <select class="form-control" name="per1">
        <option value="AGO-DIC ">AGO-DIC</option>
        <option value="ENE-JUN ">ENE-JUN</option>
        </select>
        </div>
        </div>
    
        <div class="form-group">
        <label class="col-sm-3 control-label">Año</label>
        <div class="col-sm-5">
        <select class="form-control" name="per2">
        <option value="2015">2015</option>
        <option value="2016">2016</option>
        <option value="2017">2017</option>
        <option value="2018">2018</option>
        <option value="2019">2019</option>
        </select>
        </div>
        </div>
        
        
        <div class="form-group">
        <label class="col-sm-3 control-label">Telefóno</label>
        <div class="col-sm-5"> <input class="form-control" type="tel" name="tel"  /></div>
        </div>




    <div class="form-group">
    <div class="col-sm-9 col-sm-offset-3">
    <!-- Do NOT use name="submit" or id="submit" for the Submit button -->
    <button class="btn btn-lg btn-primary" type="submit" id="_submit" name="_submit">Agregar</button>
    </div>
    </div>

    

</form>


</div>
</div>
</div>

<script>
    $(document).ready(function() {
    $('#registrationForm').bootstrapValidator({
        // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            n1: {
                message: 'El nombre no es valido',
                validators: {
                    notEmpty: {

                    },
                    regexp: {
                        regexp: /^[a-zA-ZáéÁÉíÍóÓÚúñÑ\s]+$/i,
                        message: 'Este campo solo puede contener letras'
                    }
                }
            },
            n2: {
                message: 'El Apellido no es valido',
                validators: {
                    notEmpty: {
                       
                    },
                    regexp: {
                       regexp: /^[a-zA-ZáéÁÉíÍóÓÚúñÑ\s]+$/i,
                        message: 'Este campo solo puede contener letras'
                    }
                }
            },
            n3: {
                message: 'El Apellido no es valido',
                validators: {
                    notEmpty: {
                       
                    },
                    regexp: {
                        regexp: /^[a-zA-ZáéÁÉíÍóÓÚúñÑ\s]+$/i,
                        message: 'Este campo solo puede contener letras'
                    }
                }
            },
            sexo: {
                validators: {
                    notEmpty: {
                       
                    }
                }
            },
            estado: {
                validators: {
                    notEmpty: {
                       
                    }
                }
            },
            noctrl: {
                validators: {
                    notEmpty: {
                       
                    },
                    regexp: {
                        regexp: /^[0-9]+$/,
                        message: 'solo numeros enteros'
                    },
                    stringLength: {
                        min: 8,
                        max: 8,
                        message: 'Este campo debe contener 8 numeros'
                    }
                }
            }
            ,
            tel: {
                validators: {
                    notEmpty: {
                       
                    },
                    regexp: {
                        regexp: /^[0-9]+$/,
                        message: 'solo numeros enteros'
                    },
                    stringLength: {
                        min: 10,
                        max: 14,
                    }
                }
            }
            ,
            email: {
                validators: {
                    notEmpty: {
                       
                    }
                }
            }
        }
    });
});
</script>





{% endblock %}
