{% extends 'XPSSSRBundle::principal.html.twig' %}

{% block body%}

    {{include ('XPSSSRBundle:Default:menu.html.twig')}}
       <table class="infobar"; width=100%; vertical-align:top;>
        <tr>
            <td width=65%; vertical-align:top;>
                <h3>Información de {{ entity.id }} {{ entity.ApPaterno }} {{ entity.ApMaterno }}  {{ entity.Nombre }}</h3>
            </td>
            </section>
            
            <td width=35%; align="right"; vertical-align:top;>
                
                
            <a href="{{ path('alumno') }}" class="btn btn-inverse btn-xs">Regresar a la lista</a>&nbsp;
            <a href="{{ path('alumno_edit', { 'id': entity.id }) }}" class="btn btn-inverse btn-xs">Editar</a>&nbsp;
            <a href="{{ path('alumno_disa', { 'id': entity.id }) }}" class="btn btn-inverse btn-xs">Eliminar</a>&nbsp;

            </td>
            </section>
        </tr>
     </table>

    <table class="record_properties">
        <tbody>

            <tr>
                <th>Sexo</th>
                <td>{{ entity.Sexo }}</td>
            </tr>
            <tr>
                <th>Teléfono</th>
                <td>{{ entity.Telefono }}</td>
            </tr>
            <tr>
                <th>Correo</th>
                <td>{{ entity.Correo }}</td>
            </tr>
            <tr>
                <th>Periodo</th>
                <td>{{ entity.Periodo }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                
                {% if entity.Estado=="0" %}
                <td> Baja </td>
                {% endif %}
                
                {% if entity.Estado=="1" %}
                <td> Activo </td>
                {% endif %}
                
            </tr>
        </tbody>
    </table>

{% endblock %}
