{% extends 'proyectoejemploBundle::principal.html.twig' %}
{% block body %}
{{include ('proyectoejemploBundle:Default:arriba.html.twig')}}
  
   {% if  (app.session.get('lvl')==1) %}
    <h1>seleccione materia</h1>
<form action="{{ path('calificaciones2') }}" method="post" id="formulario">
                <select name ="materia">
				{% for materia in materias %}
				{% if (materia.status == 1) %}
				<option value={{ materia.id }}>{{ materia.nombre }}</option>
				{% endif %}
				{% endfor %}

	<input type="submit" value="Siguiente">

</form>
{% endif %}
{{include ('proyectoejemploBundle:Default:abajo.html.twig')}}
{% endblock %}