{% extends 'proyectoejemploBundle::principal.html.twig' %}
{% block body %}
{{include ('proyectoejemploBundle:Default:arriba.html.twig')}}
  
   {% if  (app.session.get('lvl')==1) %}
    <h1>seleccione materia</h1>
<form action="{{ path('calificaciones3') }}" method="post" id="formulario">
                <select name ="grupo">
				{% for grupo in grupos %}
				{% if (grupo.status == 1) %}
                {% if (grupo.idMateria.id == materia) %}
				<option value={{ grupo.id }}>{{ grupo.idMateria.Nombre }} {{ grupo.clave }} {{ grupo.periodo }} {{ grupo.anio }}</option>
				{% endif %}
                {% endif %}
				{% endfor %}

	<input type="submit" value="Siguiente">

</form>
{% endif %}
{{include ('proyectoejemploBundle:Default:abajo.html.twig')}}
{% endblock %}
