{% extends 'proyectoejemploBundle::principal.html.twig' %}
{% block body %}
{{include ('proyectoejemploBundle:Default:arriba.html.twig')}}

    <table class="records_list" width="100%">
        <thead>
            <tr>
                <th>No. de Control</th>
                <th>U1</th>
                <th>U2</th>
                <th>U3</th>
                <th>U4</th>
                <th>U5</th>
                <th>U6</th>
                <th>U7</th>
                <th>U8</th>
                <th>U9</th>
                <th>Promedio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            {% if( entity.idGp.idGrupo.id == grupo) %}
            <tr>
                <td>{{ entity.idGp.idAlumno.Noctrl }}</td>
                <td>{{ entity.u1 }}</td>
                <td>{{ entity.u2 }}</td>
                <td>{{ entity.u3 }}</td>
                <td>{{ entity.u4 }}</td>
                <td>{{ entity.u5 }}</td>
                <td>{{ entity.u6 }}</td>
                <td>{{ entity.u7 }}</td>
                <td>{{ entity.u8 }}</td>
                <td>{{ entity.u9 }}</td>
                <td>{{ entity.promedio }}</td>
                <td> <a href="{{ path('alumnos_show', { 'id': entity.idGp.idAlumno.id }) }}">Ver</a></td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

{{include ('proyectoejemploBundle:Default:abajo.html.twig')}}
{% endblock %}