{% extends 'proyectoejemploBundle::principal.html.twig' %}
{% block body %}
{{include ('proyectoejemploBundle:Default:arriba.html.twig')}}
  
   {% if  (app.session.get('lvl')==1) %}
    <h1>calificaciones</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>U1</th>
                <td>{{ entity.u1 }}</td>
            </tr>
            <tr>
                <th>U2</th>
                <td>{{ entity.u2 }}</td>
            </tr>
            <tr>
                <th>U3</th>
                <td>{{ entity.u3 }}</td>
            </tr>
            <tr>
                <th>U4</th>
                <td>{{ entity.u4 }}</td>
            </tr>
            <tr>
                <th>U5</th>
                <td>{{ entity.u5 }}</td>
            </tr>
            <tr>
                <th>U6</th>
                <td>{{ entity.u6 }}</td>
            </tr>
            <tr>
                <th>U7</th>
                <td>{{ entity.u7 }}</td>
            </tr>
            <tr>
                <th>U8</th>
                <td>{{ entity.u8 }}</td>
            </tr>
            <tr>
                <th>U9</th>
                <td>{{ entity.u9 }}</td>
            </tr>
            <tr>
                <th>Promedio</th>
                <td>{{ entity.promedio }}</td>
            </tr>
        </tbody>
    </table>

        
        <a href="{{ path('calificaciones') }}">
            Back to the list
        </a>
        </br>
        <a href="{{ path('calificaciones_edit', { 'id': entity.id }) }}">
            Edit
        </a>
        {{ form(delete_form) }}

{% endif %}
{{include ('proyectoejemploBundle:Default:abajo.html.twig')}}
{% endblock %}
