{% extends 'XPSSSRBundle::principal.html.twig' %}

{% block body%}

    {{include ('XPSSSRBundle:Default:menu.html.twig')}}
       <table class="infobar"; width=100%; vertical-align:top;>
        <tr>
            <td width=65%; vertical-align:top;>
                <h3>Edición de Historial</h3>
            </td>
            </section>

            <td width=35%; align="right"; vertical-align:top;>
                
                
            <a href="{{ path('historial') }}" class="btn btn-inverse btn-xs">Regresar a la lista</a>&nbsp;

            </td>
            </section>
        </tr>
     </table>

   <!-- action="{{ path('alumno_nvo') }}" -->
    <form action="{{ path('historial_edita') }}"  id="bootstrapSelectForm" method="post" class="form-horizontal">

        <input type="hidden" name ="id" value="{{entity.id}}">

        
        <div class="form-group">
        <label class="col-sm-3 control-label">No. Oficio Liberación:</label>
        <div class="col-sm-5"> <input class="form-control" type="text" name ="Nolib" value"{{entity.getNoOficioLiberacion}}" ></div>
        </div>
        
        
        
        <div class="form-group">
        <label class="col-sm-3 control-label">Fecha Liberación:</label>
        <div class="col-sm-5"> <input class="form-control" type="date" name ="FechaLib" value="{{entity.FechaLiberacion|date('Y-m-d')}}" ></div>
        </div>
        
        <div class="form-group">
        <label class="col-sm-3 control-label">Calificación:</label>
            {% if entity.getCalificacion == '0' or  entity.getCalificacion == null%}
 
        <div class="col-sm-5"> <input class="form-control" type="text" name ="Cal" value=""></div>
            {% else %}
                   <div class="col-sm-5"> <input class="form-control" type="text" name ="Cal" value="{{entity.getCalificacion}}"></div>
            
            {% endif %}
        </div>
        
        
        <div class="form-group">
        <label class="col-sm-3 control-label">ID residencia: </label>
        <div class="col-sm-5 ">
        <select name="RID" class="form-control">
        {% for residencia in residencias %}
        {% if residencia.getEstado== '1' %}
            {% if residencia.getId == entity.getIdResidencia.getId%}
        <option value="{{residencia.getId}}" selected>{{residencia.getIdResidencia}} {{residencia.getNoDeControl.getPeriodo}}</option>
            {% else %}
        <option value="{{residencia.getId}}">{{residencia.getIdResidencia}} {{residencia.getNoDeControl.getPeriodo}}</option> 
            {% endif %}
        {% endif %}
        {% endfor %}
        </select>
        </div>
        </div>
        
        
        <div class="form-group">
        <label class="col-sm-3 control-label">Estado:</label>
        <div class="col-sm-5">
        <div class="radio" >
        <label>
        {% if entity.Estado=="1" %}
        <input type="radio" name="estado" value="1" checked ><span class="circle"></span><span class="check"></span>Activo
        {% else %}
        <input type="radio" name="estado" value="1" ><span class="circle"></span><span class="check"></span>Activo
        {% endif %}
        </label>
        </div>
        <div class="radio">
        <label>
        {% if entity.Estado=="0" %}
        <input type="radio" name="estado" value="0" checked ><span class="circle"></span><span class="check"></span>Baja
        {% else %}
        <input type="radio" name="estado" value="0" ><span class="circle"></span><span class="check"></span>Baja
        {% endif %}
        </label>
        </div>
        </div>
        </div>
        
        
     <div class="form-group">
    <div class="col-sm-9 col-sm-offset-3">
    <!-- Do NOT use name="submit" or id="submit" for the Submit button -->
    <button class="btn btn-lg btn-primary" type="submit" id="_submit" name="_submit">Agregar</button>
    </div>
    </div>
</form>


</div>
</div>
</div>

<script>
    $(document).ready(function() {
    $('#bootstrapSelectForm')
            .find('[name="RID"]')
            .selectpicker()
            .change(function(e) {
                // revalidate the RID when it is changed
                $('#bootstrapSelectForm').bootstrapValidator('revalidateField', 'RID');
            })
            .end()
    .bootstrapValidator({
        // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            
            FechaLib: {
                validators: {
                    
                }
            },
            Nolib: {
                validators: {
                    regexp: {
                        regexp: /^[0-9]+$/,
                        message: 'solo numeros enteros'
                    },
                   
                }
            },
             Cal: {
                validators: {
                    regexp: {
                        regexp: /^[0-9]+$/,
                        message: 'solo numeros enteros'
                    },
                    stringLength: {
                        min: 2,
                        max: 3,
                    }
                }
            }
            ,
             RID: {
                validators: {
                    notEmpty: {
                       message: 'Debe seleccionar un valor.'
                    }
                }
            }
           
           
        }
    });
});
    </script>

{% endblock %}
