{% extends 'XPSSSRBundle::principal.html.twig' %}

{% block body%}

    {{include ('XPSSSRBundle:Default:menu.html.twig')}}
    <table class="infobar"; width=100%; vertical-align:top;>
        <tr>
            <td width=65%; vertical-align:top;>
                <h3>Lista de Historiales</h3>
            </td>
            <td  width=35%; align="right"; vertical-align:top;>
    <a href={{path('historial_new')}}  class="btn btn-success" ><span class="glyphicon glyphicon-plus-sign plus-sign"></span>&nbsp;Nuevo</a>

            </td>
        </tr>
     </table>

<div class="table-responsive">
    <table  id="tablita" class="table table-hover table-condensed">
        <thead>
            <tr>
                <th>No. de Control</th>
                <th>Nombre</th>
                <th>No. oficio liberación</th>
                <th>Fecha liberacion</th>
                <th>Calificación</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
               
                <td>{{ entity.getIdResidencia.getNoDeControl.getId }}</td>
                <td>{{ entity.getIdResidencia.getNoDeControl.getNombre }}
                    {{ entity.getIdResidencia.getNoDeControl.ApPaterno }}
                    {{ entity.getIdResidencia.getNoDeControl.ApMaterno }}</td>
                
                {% if entity.NoOficioLiberacion!=null %}
                <td>{{ entity.NoOficioLiberacion }}</td>
                {% else %}
                <td>Pendiente</td>
                {% endif %}
                
                
                
                {% if entity.FechaLiberacion!=null %}
                <td>{{ entity.FechaLiberacion|date('m-d-Y') }}</td>
                {% else %}
                <td>Pendiente</td>
                {% endif %}
               
                
                
                {% if entity.Calificacion!=null %}
                <td>{{ entity.Calificacion}}</td>
                {% else %}
                <td>Pendiente</td>
                {% endif %}
                
                {% if entity.Estado=="0" %}
                <td> Baja </td>
                {% endif %}
                
                {% if entity.Estado=="1" %}
                <td> Activo </td>
                {% endif %}      
                <td><a href="{{ path('historial_show', { 'id': entity.id }) }}">Mostrar</a> &nbsp; &nbsp;<a href="{{ path('historial_edit', { 'id': entity.id }) }}">Editar</a>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

    <script>
        $(document).ready(function() {
            $('#tablita').dataTable( {
                "sScrollX": "100%",
                "sScrollXInner": "100%",
                "sScrollY": "100%",
                "sScrollYInner": "100%",
                "bScrollCollapse": true,
                "language": {
                                "emptyTable":     "No hay entradas en la tabla",
                                "info":           "Mostrando de _START_ a  _END_ de _TOTAL_ entradas",
                                "infoEmpty":      "Mostrando 0 to 0 of 0 entradas",
                                "infoFiltered":   "(Filtrar por _MAX_ total de entradas)",
                                "infoPostFix":    "",
                                "thousands":      ",",
                                "lengthMenu":     "Mostrar _MENU_ entradas",
                                "loadingRecords": "Cargando...",
                                "processing":     "Procesando...",
                                "search":         "Buscar:",
                                "zeroRecords":    "No hay coincidencias",
                                "paginate": {
                                    "first":      "Primera",
                                    "last":       "Ultima",
                                    "next":       "Siguiente",
                                    "previous":   "Anterior"
                                },
                                "aria": {
                                    "sortAscending":  ": Ordenar de manera Ascendente",
                                    "sortDescending": ": Ordenar de manera Decendente"
                                }
                            }
            } );
        } );
    </script>
    {% endblock %}
