{% extends 'XPSSSRBundle::principal.html.twig' %}

{% block body%}

    {{include ('XPSSSRBundle:Default:menu.html.twig')}}
       <table class="infobar"; width=100%; vertical-align:top;>
        <tr>
            <td width=65%; vertical-align:top;>
                <h3>Nuevo Historial</h3>
            </td>
            </section>

            <td width=35%; align="right"; vertical-align:top;>
                
                
            <a href="{{ path('historial') }}" class="btn btn-inverse btn-xs">Regresar a la lista</a>&nbsp;

            </td>
            </section>
        </tr>
     </table>

<div class="container">
<div class="row">
<div class="col-md-8 col-md-offset-2">
    
    
    
   <!-- action="{{ path('alumno_nvo') }}" -->
    <form action="{{ path('historial_nvo') }}"  id="bootstrapSelectForm" method="post" class="form-horizontal">

        <div class="form-group">
        <label class="col-sm-3 control-label">No. Oficio Liberación:</label>
        <div class="col-sm-5"> <input class="form-control" type="text" name ="Nolib" ></div>
        </div>
        
        
        
        <div class="form-group">
        <label class="col-sm-3 control-label">Fecha Liberación:</label>
        <div class="col-sm-5"> <input class="form-control" type="date" name ="FechaLib" ></div>
        </div>
        
        <div class="form-group">
        <label class="col-sm-3 control-label">Calificación:</label>
        <div class="col-sm-5"> <input class="form-control" type="text" name ="Cal" ></div>
        </div>
        
        
        <div class="form-group">
        <label class="col-sm-3 control-label">ID residencia: </label>
        <div class="col-sm-5 ">
        <select name="RID" class="form-control">
        {% for residencia in residencias %}
        {% if residencia.getEstado== '1' %}
        <option value="{{residencia.getId}}">{{residencia.getIdResidencia}} {{residencia.getNoDeControl.getPeriodo}}</option>
        {% endif %}
        {% endfor %}
        </select>
        </div>
        </div>
        
        
     <div class="form-group">
    <div class="col-sm-9 col-sm-offset-3">
    <!-- Do NOT use name="submit" or id="submit" for the Submit button -->
    <button class="btn btn-lg btn-primary" type="submit" id="_submit" name="_submit">Agregar</button>
    </div>
    </div>
</form>


</div>
</div>
</div>

<script>
    $(document).ready(function() {
    $('#bootstrapSelectForm')
            .find('[name="RID"]')
            .selectpicker()
            .change(function(e) {
                // revalidate the RID when it is changed
                $('#bootstrapSelectForm').bootstrapValidator('revalidateField', 'RID');
            })
            .end()
    .bootstrapValidator({
        // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            
            FechaLib: {
                validators: {
                    
                }
            },
            Nolib: {
                validators: {
                    regexp: {
                        regexp: /^[0-9]+$/,
                        message: 'solo numeros enteros'
                    },
                   
                }
            },
             Cal: {
                validators: {
                    regexp: {
                        regexp: /^[0-9]+$/,
                        message: 'solo numeros enteros'
                    },
                    stringLength: {
                        min: 2,
                        max: 3,
                    }
                }
            }
            ,
             RID: {
                validators: {
                    notEmpty: {
                       message: 'Debe seleccionar un valor.'
                    }
                }
            }
           
           
        }
    });
});
    </script>


{% endblock %}
