{% extends 'XPSSSRBundle::principal.html.twig' %}

{% block body%}

    {{include ('XPSSSRBundle:Default:menu.html.twig')}}
       <table class="infobar"; width=100%; vertical-align:top;>
        <tr>
            <td width=55%; vertical-align:top;>
                <h3>Información de </h3>
            </td>
            
            
            </section>
            
            <td width=45%; align="right"; vertical-align:top;>
                <div class="btn-group">
                   <div class="btn-group ">
                        <a href="javascript:void(0)" class="btn  btn-success btn-xs dropdown-toggle withripple" data-toggle="dropdown">
                            Crear Oficios
                            <span class="caret"></span>
                        <div class="ripple-wrapper"></div></a>
                        <ul class="dropdown-menu">
                            {% if entity.NoOficioLiberacion != null %}
                            
                             <form action="{{ path('xpsssr_CartaL') }}"  method="post">
                                
                                <input type="hidden" name="id" value="{{entity.id}}" />
                                    
                                <button class="btn btn-default btn-xs withripple " type="submit">Liberación<div class="ripple-wrapper">                                         </div></button>
                                 </form>
                                
                            
                            {% endif %}
                            
                              
                            <li>
                                <form action="{{ path('xpsssr_Asesor') }}" method="post">
                                
                                <input type="hidden" name="id" value="{{entity.id}}" />
                                    
                                <button class="btn btn-default btn-xs withripple " type="submit">Asignación Asesor <div class="ripple-wrapper">                                 </div></button>
                                
                                </form>
                                
                                
                            </li>
                            
                        </ul>
                    </div>
                </div>                
                <a href="{{ path('historial') }}" class="btn btn-inverse btn-xs">Regresar a la lista</a>&nbsp;
                <a href="{{ path('historial_edit', { 'id': entity.id }) }}" class="btn btn-inverse btn-xs">Editar</a>&nbsp;
                <a href="{{ path('historial_disa', { 'id': entity.id }) }}" class="btn btn-inverse btn-xs">Eliminar</a>&nbsp;
            </td>
            </section>
        </tr>
     </table>

    <table class="record_properties">
        <tbody>
            <tr>
                <td>Numero de Residencia&nbsp; &nbsp; &nbsp;&nbsp;</td>
                <td>{{ entity.getIdResidencia.getIdResidencia }}</td>
            </tr>

            
            <tr>
                <td>Numero de control &nbsp; &nbsp; &nbsp;&nbsp;</td>
                <td>{{ entity.getIdResidencia.getNoDeControl.getId }}</td>
            </tr>
            
            
            <tr>
                <td>Nombre &nbsp; &nbsp; &nbsp;&nbsp;</td>
                <td>{{ entity.getIdResidencia.getNoDeControl.getApPaterno }}
                    {{ entity.getIdResidencia.getNoDeControl.getApMaterno }}
                    {{ entity.getIdResidencia.getNoDeControl.getNombre }}</td>
            </tr>
            
            
            <tr>
                <td>Sexo &nbsp; &nbsp; &nbsp;&nbsp;</td>
                <td>{{ entity.getIdResidencia.getNoDeControl.getSexo }}</td>
            </tr>
            
            
            <tr>
                <td>Anteproyecto &nbsp; &nbsp; &nbsp;&nbsp;</td>
                <td>{{ entity.getIdResidencia.getNombreDeProyecto }}</td>
            </tr>
            
            
            <tr>
                <td>Empresa &nbsp; &nbsp; &nbsp;&nbsp;</td>
                <td>{{ entity.getIdResidencia.getIdEmpresa.getNombre }}</td>
            </tr>
            
            <tr>
                <td>Periodo &nbsp; &nbsp; &nbsp;&nbsp;</td>
                <td>{{ entity.getIdResidencia.getNoDeControl.getPeriodo }}</td>
            </tr>
            
            
                       
            <tr>
                <td>Asesor Interno &nbsp; &nbsp; &nbsp;&nbsp;</td>
                <td>{{ entity.getIdResidencia.getIdAsesorInterno.getNombre }}  
                    {{ entity.getIdResidencia.getIdAsesorInterno.getApPaterno }}  
                    {{ entity.getIdResidencia.getIdAsesorInterno.getApMaterno }}</td>
            </tr>
            
            <tr>
                <td>Asesor Externo &nbsp; &nbsp; &nbsp;&nbsp;</td>
                <td>{{ entity.getIdResidencia.getAsesorExterno }}</td>
            </tr>
 
            
            
            
            <tr>
                <td>No. Oficio de liberación</td>
                {% if entity.NoOficioLiberacion != null %}
                <td>{{ entity.NoOficioLiberacion }}</td>
                {% else %}
                <td>Pendiente</td>
                {% endif %}
            </tr>
            
            <tr>
                <td>Fecha de liberación</td>
                {% if entity.FechaLiberacion != null %}
                <td>{{ entity.FechaLiberacion|date('m-d-Y') }}</td>
                {% else %}
                <td>Pendiente</td>
                {% endif %}
            </tr>
            <tr>
                <td>Calificación</td>
                {% if entity.Calificacion != null %}
                <td>{{ entity.Calificacion }}</td>
                {% else %}
                <td>Pendiente</td>
                {% endif %}
            </tr>
            <tr>
                <th>Estado</th>
                
                {% if entity.Estado=="0" %}
                <td> Baja </td>
                {% endif %}
                
                {% if entity.Estado=="1" %}
                <td> Activo </td>
                {% endif %}
                
            </tr>
        </tbody>
    </table>


{% endblock %}
