{% extends 'XPSSSRBundle::principal.html.twig' %}

{% block body%}

    {{include ('XPSSSRBundle:Default:menu.html.twig')}}
       <table class="infobar"; width=100%; vertical-align:top;>
        <tr>
            <td width=65%; vertical-align:top;>
                <h3>Nueva Empresa</h3>
            </td>
            </section>

            <td width=35%; align="right"; vertical-align:top;>
                
                
            <a href="{{ path('empresa') }}" class="btn btn-inverse btn-xs">Regresar a la lista</a>&nbsp;

            </td>
            </section>
        </tr>
     </table>

<div class="container">
<div class="row">
<div class="col-md-8 col-md-offset-2">
    
    
    

    <form   id="registrationForm" method="post" class="form-horizontal" id="formulario">

        <div class="form-group">
        <label class="col-sm-3 control-label">Nombre:</label>
        <div class="col-sm-5"> <input class="form-control" type="text" name ="n1" ></div>
        </div>
        
        
        
        <div class="form-group">
        <label class="col-sm-3 control-label">Calle:</label>
        <div class="col-sm-5"> <input class="form-control" type="text" name ="calle" ></div>
        </div>
        
        <div class="form-group">
        <label class="col-sm-3 control-label">Localidad:</label>
        <div class="col-sm-5"> <input class="form-control" type="text" name ="local" ></div>
        </div>
        
        <div class="form-group">
        <label class="col-sm-3 control-label">Colonia:</label>
        <div class="col-sm-5"> <input class="form-control" type="text" name ="col" ></div>
        </div>
        
        <div class="form-group">
        <label class="col-sm-3 control-label">C.P.:</label>
        <div class="col-sm-5"> <input class="form-control" type="number" name ="cp" ></div>
        </div>
        
        <div class="form-group">
        <label class="col-sm-3 control-label">Teléfono:</label>
        <div class="col-sm-5"> <input class="form-control" type="number" name ="num1" ></div>
        </div>
        
        <div class="form-group">
        <label class="col-sm-3 control-label">Correo:</label>
        <div class="col-sm-5"> <input class="form-control" type="email" name ="email" ></div>
        </div>
        
      
            <div class="form-group">
    <div class="col-sm-9 col-sm-offset-3">
    <!-- Do NOT use name="submit" or id="submit" for the Submit button -->
    <button class="btn btn-lg btn-primary" type="submit" id="_submit" name="_submit">Agregar</button>
    </div>
    </div>
</form>


</div>
</div>
</div>

<script>
    $(document).ready(function() {
    $('#registrationForm').bootstrapValidator({
        // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            n1: {
                message: 'El nombre no es valido',
                validators: {
                    notEmpty: {

                    },
                    regexp: {
                        regexp: /^[a-zA-Z.áéÁÉíÍóÓÚúñÑ\s]+$/i,
                        message: 'Este campo solo puede contener letras'
                    }
                }
            },
            calle: {
                validators: {
                    notEmpty: {
                       
                    },
                    regexp: {
                       regexp: /^[a-zA-ZáéÁÉíÍóÓÚúñÑ\s]+$/i,
                        message: 'Este campo solo puede contener letras'
                    }
                }
            },
            local: {
                validators: {
                    notEmpty: {
                       
                    },
                    regexp: {
                        regexp: /^[a-zA-ZáéÁÉíÍóÓÚúñÑ\s]+$/i,
                        message: 'Este campo solo puede contener letras'
                    }
                }
            },
            col: {
                validators: {
                    notEmpty: {
                       
                    },
                    regexp: {
                        regexp: /^[a-zA-ZáéÁÉíÍóÓÚúñÑ\s]+$/i,
                        message: 'Este campo solo puede contener letras'
                    }
                }
            },
            sexo: {
                validators: {
                    notEmpty: {
                       
                    }
                }
            },
            estado: {
                validators: {
                    notEmpty: {
                       
                    }
                }
            },
            noctrl: {
                validators: {
                    notEmpty: {
                       
                    },
                    regexp: {
                        regexp: /^[0-9]+$/,
                        message: 'solo numeros enteros'
                    },
                    stringLength: {
                        min: 8,
                        max: 8,
                        message: 'Este campo debe contener 8 numeros'
                    }
                }
            },
            cp: {
                validators: {
                    notEmpty: {
                       
                    },
                    regexp: {
                        regexp: /^[0-9]+$/,
                        message: 'solo numeros enteros'
                    },
                    stringLength: {
                        min: 5,
                        max: 5,
                        message: 'Este campo debe contener 5 numeros'
                    }
                }
            }
            ,
            num1: {
                validators: {
                    notEmpty: {
                       
                    },
                    regexp: {
                        regexp: /^[0-9]+$/,
                        message: 'solo numeros enteros'
                    },
                    stringLength: {
                        min: 10,
                        max: 14,
                    }
                }
            },
            num2: {
                validators: {
                    regexp: {
                        regexp: /^[0-9]+$/,
                        message: 'solo numeros enteros'
                    }
                }
            }
            ,
            email: {
                validators: {
                    notEmpty: {
                       
                    }
                }
            }
        }
    });
});
    </script>

{% endblock %}
