{% extends 'XPSSSRBundle::principal.html.twig' %}

{% block body%}

    {{include ('XPSSSRBundle:Default:menu.html.twig')}}
       <table class="infobar"; width=100%; vertical-align:top;>
        <tr>
            <td width=65%; vertical-align:top;>
                <h3>Información de {{ entity.Nombre }}</h3>
            </td>
            </section>
            
            <td width=35%; align="right"; vertical-align:top;>
                
                
            <a href="{{ path('empresa') }}" class="btn btn-inverse btn-xs">Regresar a la lista</a>&nbsp;
            <a href="{{ path('empresa_edit', { 'id': entity.id }) }}" class="btn btn-inverse btn-xs">Editar</a>&nbsp;
            <a href="{{ path('empresa_disa', { 'id': entity.id }) }}" class="btn btn-inverse btn-xs">Eliminar</a>&nbsp;

            </td>
            </section>
        </tr>
     </table>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.Nombre }}</td>
            </tr>
            <tr>
                <th>Calle</th>
                <td>{{ entity.Calle }}</td>
            </tr>
            <tr>
                <th>Localidad</th>
                <td>{{ entity.Localidad }}</td>
            </tr>
            <tr>
                <th>Colonia</th>
                <td>{{ entity.Colonia }}</td>
            </tr>
            <tr>
                <th>Cp</th>
                <td>{{ entity.CP }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ entity.Telefono }}</td>
            </tr>
            <tr>
                <th>Correo</th>
                <td>{{ entity.Correo }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                
                {% if entity.Estado=="0" %}
                <td> Baja </td>
                {% endif %}
                
                {% if entity.Estado=="1" %}
                <td> Activo </td>
                {% endif %}
                
            </tr>
        </tbody>
    </table>


{% endblock %}
