{% extends 'proyectoejemploBundle::principal.html.twig' %}
{% block body %}
{{include ('proyectoejemploBundle:Default:arriba.html.twig')}}
  
   {% if  (app.session.get('lvl')==1) %}
    <h1>grupos</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Clave</th>
                <td>{{ entity.clave }}</td>
            </tr>
            
            <tr>
                <th>Materia</th>
                <td>{{ entity.idMateria.Nombre }}</td>
            </tr>
            
            <tr>
                <th>Profesor</th>
                <td>{{ entity.idProfesor.Nombre }} {{ entity.idProfesor.apellidoP }} {{ entity.idProfesor.apellidoM }}</td>
            </tr>
            
            
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Periodo</th>
                <td>{{ entity.periodo }}</td>
            </tr>
            <tr>
                <th>Anio</th>
                <td>{{ entity.anio }}</td>
            </tr>
            <tr>
                <th>Maxialu</th>
                <td>{{ entity.maxiAlu }}</td>
            </tr>
        </tbody>
    </table>


        <a href="{{ path('grupos') }}">
            Back to the list
        </a>
        </br>
        <a href="{{ path('grupos_edit', { 'id': entity.id }) }}">
            Edit
        </a>
{{ form(delete_form) }}
{% endif %}
{{include ('proyectoejemploBundle:Default:abajo.html.twig')}}
{% endblock %}