
<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta name=Generator content="Microsoft Word 15 (filtered)">
<title>INSTITUTO TECNOLÓGICO DE ___________</title>
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Tahoma;
	panose-1:2 11 6 4 3 5 4 4 2 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0cm;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Times New Roman",serif;}
h1
	{margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:0cm;
	page-break-after:avoid;
	font-size:16.0pt;
	font-family:"Arial",sans-serif;}
h2
	{margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:0cm;
	page-break-after:avoid;
	font-size:14.0pt;
	font-family:"Arial",sans-serif;
	font-style:italic;}
h3
	{margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:0cm;
	page-break-after:avoid;
	font-size:13.0pt;
	font-family:"Arial",sans-serif;}
h4
	{margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:0cm;
	page-break-after:avoid;
	font-size:14.0pt;
	font-family:"Times New Roman",serif;}
h5
	{margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:0cm;
	font-size:13.0pt;
	font-family:"Times New Roman",serif;
	font-style:italic;}
p.MsoHeading9, li.MsoHeading9, div.MsoHeading9
	{margin:0cm;
	margin-bottom:.0001pt;
	text-align:center;
	page-break-after:avoid;
	punctuation-wrap:simple;
	text-autospace:none;
	font-size:11.0pt;
	font-family:"Arial",sans-serif;
	font-weight:bold;}
p.MsoHeader, li.MsoHeader, div.MsoHeader
	{mso-style-link:"Encabezado Car";
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Times New Roman",serif;}
p.MsoFooter, li.MsoFooter, div.MsoFooter
	{mso-style-link:"Pie de página Car";
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Times New Roman",serif;}
p.MsoCaption, li.MsoCaption, div.MsoCaption
	{margin:0cm;
	margin-bottom:.0001pt;
	text-align:center;
	punctuation-wrap:simple;
	text-autospace:none;
	font-size:10.0pt;
	font-family:"Arial",sans-serif;
	font-weight:bold;}
p.MsoTitle, li.MsoTitle, div.MsoTitle
	{margin:0cm;
	margin-bottom:.0001pt;
	text-align:center;
	font-size:12.0pt;
	font-family:"Arial",sans-serif;
	font-weight:bold;}
p.MsoBodyText3, li.MsoBodyText3, div.MsoBodyText3
	{margin:0cm;
	margin-bottom:.0001pt;
	text-align:center;
	punctuation-wrap:simple;
	text-autospace:none;
	font-size:11.0pt;
	font-family:"Arial",sans-serif;
	font-weight:bold;}
p.MsoAcetate, li.MsoAcetate, div.MsoAcetate
	{mso-style-link:"Texto de globo Car";
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:8.0pt;
	font-family:"Tahoma",sans-serif;}
p.Header1, li.Header1, div.Header1
	{mso-style-name:Header1;
	margin:0cm;
	margin-bottom:.0001pt;
	punctuation-wrap:simple;
	text-autospace:none;
	font-size:10.0pt;
	font-family:"Times New Roman",serif;}
span.PiedepginaCar
	{mso-style-name:"Pie de página Car";
	mso-style-link:"Pie de página";}
span.EncabezadoCar
	{mso-style-name:"Encabezado Car";
	mso-style-link:Encabezado;}
span.TextodegloboCar
	{mso-style-name:"Texto de globo Car";
	mso-style-link:"Texto de globo";
	font-family:"Tahoma",sans-serif;}
.MsoChpDefault
	{font-size:10.0pt;}
 /* Page Definitions */
 @page WordSection1
	{size:612.0pt 792.0pt;
	margin:70.9pt 45.0pt 70.9pt 3.0cm;}
div.WordSection1
	{page:WordSection1;}
 /* List Definitions */
 ol
	{margin-bottom:0cm;}
ul
	{margin-bottom:0cm;}
-->
</style>

</head>

<body lang=ES-MX>

<div class=WordSection1>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='border-collapse:collapse'>
 <tr>
  <td width=546 valign=top style='width:409.4pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><b><span lang=ES
  style='font-size:14.0pt;font-family:"Arial",sans-serif'>Instituto Tecnológico
  de Toluca</span></b></p>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='font-family:"Arial",sans-serif'>Carta de Liberación </span></p>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='font-family:"Arial",sans-serif'>de Residencia Profesional</span></p>
  </td>
  <td width=72 valign=top style='width:53.65pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal><img width=59 height=63 id="Imagen 2"
  src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('/Symfony/img/logotec.jpg') }}"></p>
  </td>
 </tr>
</table>

<p class=MsoNormal align=right style='text-align:right'><span style='font-size:
10.0pt;font-family:"Arial",sans-serif'>&nbsp;</span></p>

<p class=MsoNormal align=right style='text-align:right'><span style='font-size:
10.0pt;font-family:"Arial",sans-serif'> Departamento de Ingenierías </span></p>

<p class=MsoNormal align=right style='text-align:right'><span style='font-size:
10.0pt;font-family:"Arial",sans-serif'>No de oficio: DI- 3700-{{entity.NoOficioLiberacion}}/2014</span></p>

<p class=MsoNormal align=right style='text-align:right'><span style='font-size:
10.0pt;font-family:"Arial",sans-serif'>Asunto: Liberación de Residencia Profesional</span></p>

<p class=MsoNormal align=right style='text-align:right'><span style='font-size:
10.0pt;font-family:"Arial",sans-serif'>Metepec, México a {{"now"|date("d")}} de 
    
    
        {%if "now"|date("m") == 01 %}
            Enero
        {% endif %}
        {%if "now"|date("m") == 02 %}
            Febrero
        {% endif %}
        {%if "now"|date("m") == 03 %}
            Marzo
        {% endif %}
        {%if "now"|date("m") == 014 %}
            Abril
        {% endif %}
        {%if "now"|date("m") == 05 %}
            Mayo
        {% endif %}
        {%if "now"|date("m") == 06 %}
            Junio
        {% endif %}
        {%if "now"|date("m") == 07 %}
            Julio
        {% endif %}
        {%if "now"|date("m") == 08 %}
            Agosto
        {% endif %}
        {%if "now"|date("m") == 09 %}
            Septiembre
        {% endif %}
        {%if "now"|date("m") == 10 %}
            Ocutbre
        {% endif %}
        {%if "now"|date("m") == 11 %}
            Noviembre
        {% endif %}
        {%if "now"|date("m") == 12 %}
            Diciembre
        {% endif %}
    
de &nbsp;{{"now"|date("Y")}}</span></p>

<p class=MsoNormal align=right style='text-align:right'><span style='font-family:
"Arial",sans-serif'>&nbsp;</span></p>

<p class=MsoNormal><b><span style='font-size:10.0pt;font-family:"Arial",sans-serif'>C. 
M. en  A. NORMA OTILIA CALDERÓN RÍOS</span></b></p>

<p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial",sans-serif'>Jefa
de la División de Estudios Profesionales</span></p>

<p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial",sans-serif'>Presente</span></p>

<p class=MsoNormal><span style='font-family:"Arial",sans-serif'>&nbsp;</span></p>

<p class=MsoNormal><span style='font-family:"Arial",sans-serif'>&nbsp;</span></p>

<p class=MsoNormal align=right style='text-align:right'><span style='font-size:
10.0pt;font-family:"Arial",sans-serif'>AT´N: <b>M. EN I. MARGARITO CARBAJAL
SUÁREZ</b></span></p>

<p class=MsoNormal align=right style='text-align:right'><span style='font-size:
10.0pt;font-family:"Arial",sans-serif'>Coordinación de la Carrera de Ingeniería
Mecatrónica</span></p>

<p class=MsoNormal><span style='font-family:"Arial",sans-serif'>&nbsp;</span></p>

<p class=MsoNormal><span style='font-family:"Arial",sans-serif'>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:10.0pt;
font-family:"Arial",sans-serif'>Anteponiendo al presente un saludo, me permito
comunicarle que el C.</span><b><span style='font-size:10.0pt;font-family:"Arial",sans-serif;
color:black'> </span></b><b><span style='font-size:10.0pt;font-family:"Arial",sans-serif'>
                    {{ entity.getIdResidencia.getNoDeControl.getApPaterno }}
                    {{ entity.getIdResidencia.getNoDeControl.getApMaterno }}
                    {{ entity.getIdResidencia.getNoDeControl.getNombre }}
</span></b><span style='font-size:10.0pt;font-family:"Arial",sans-serif'>de la
carrera de <b>Ingeniería Mecatrónica</b> con número de control <b>{{ entity.getIdResidencia.getNoDeControl.getId }}</b>, concluyó
satisfactoriamente las actividades de su Residencia Profesional, por lo que se
le asigna una calificación de <b>{{ entity.Calificacion }}.</b></span></p>

<p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial",sans-serif'>&nbsp;</span></p>

<p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial",sans-serif'>&nbsp;</span></p>

<p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial",sans-serif'>Sin
otro en particular, quedamos de usted.</span></p>

<p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial",sans-serif'>&nbsp;</span></p>

<p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial",sans-serif'>&nbsp;</span></p>

<p class=MsoNormal align=center style='text-align:center'><span
style='font-size:10.0pt;font-family:"Arial",sans-serif'>&nbsp;</span></p>

<p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial",sans-serif'>&nbsp;</span></p>

<p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial",sans-serif'>&nbsp;</span></p>

<p class=MsoNormal align=center style='text-align:center'><span
style='font-size:10.0pt;font-family:"Arial",sans-serif'>ATENTAMENTE</span></p>

<p class=MsoNormal><span style='font-family:"Arial",sans-serif'>&nbsp;</span></p>

<table class=MsoTableGrid border=0 cellspacing=0 cellpadding=0 width=675
 style='width:506.6pt;border-collapse:collapse;border:none'>
 <tr style='height:60.35pt'>
  <td width=330 valign=top style='width:247.25pt;border:none;border-bottom:
  solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:60.35pt'>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='font-size:10.0pt;font-family:"Arial",sans-serif'>&nbsp;</span></p>
  <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial",sans-serif'>&nbsp;</span></p>
  <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial",sans-serif'>&nbsp;</span></p>
  <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial",sans-serif'>&nbsp;</span></p>
  <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial",sans-serif'>                       </span></p>
  </td>
  <td width=33 valign=top style='width:24.9pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:60.35pt'>
  <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial",sans-serif'>&nbsp;</span></p>
  </td>
  <td width=313 valign=top style='width:234.45pt;border:none;border-bottom:
  solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:60.35pt'>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='font-size:10.0pt;font-family:"Arial",sans-serif'>Vo. Bo.</span></p>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='font-size:10.0pt;font-family:"Arial",sans-serif'>&nbsp;</span></p>
  </td>
 </tr>
 <tr style='height:30.2pt'>
  <td width=330 valign=top style='width:247.25pt;border:none;padding:0cm 5.4pt 0cm 5.4pt;
  height:30.2pt'>
  <p class=MsoNormal><span style='font-size:9.0pt;font-family:"Arial",sans-serif'>&nbsp;</span></p>
  <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial",sans-serif'>                          
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Asesor Interno
      <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {{entity.getIdResidencia.getIdAsesorInterno.getNombre }}  
                    {{ entity.getIdResidencia.getIdAsesorInterno.getApPaterno }}  
                    {{ entity.getIdResidencia.getIdAsesorInterno.getApMaterno }}
      </span></p>
  </td>
  <td width=33 valign=top style='width:24.9pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:30.2pt'>
  <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial",sans-serif'>&nbsp;</span></p>
  </td>
  <td width=313 valign=top style='width:234.45pt;border:none;padding:0cm 5.4pt 0cm 5.4pt;
  height:30.2pt'>
  <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial",sans-serif'> ING.
  ROGER ISAAC BARTOLO ALARCÓN</span></p>
  <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial",sans-serif'>  
  Jefe del Departamento de Ingenierías</span></p>
  </td>
 </tr>
</table>

<p class=MsoNormal><span style='font-family:"Arial",sans-serif'>                                                             </span></p>

<p class=MsoNormal><span style='font-family:"Arial",sans-serif'>&nbsp;</span></p>

<p class=MsoNormal><span style='font-family:"Arial",sans-serif'>&nbsp;</span></p>

<p class=MsoNormal><span style='font-family:"Arial",sans-serif'>&nbsp;</span></p>

<p class=MsoNormal><span style='font-family:"Arial",sans-serif'>&nbsp;</span></p>

<p class=MsoNormal><span style='font-family:"Arial",sans-serif'>&nbsp;</span></p>

<p class=MsoNormal><span style='font-family:"Arial",sans-serif'>&nbsp;</span></p>

<p class=MsoNormal><span style='font-family:"Arial",sans-serif'>&nbsp;</span></p>

<p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial",sans-serif'>c.c.p.
Gestión Tecnológica y Vinculación</span></p>

<p class=MsoNormal style='text-indent:35.4pt'><span style='font-size:10.0pt;
font-family:"Arial",sans-serif'>Asesor interno</span></p>

<p class=MsoNormal style='text-indent:35.4pt'><span style='font-size:10.0pt;
font-family:"Arial",sans-serif'>Alumno</span></p>

<p class=MsoNormal style='text-indent:35.4pt'><span style='font-size:10.0pt;
font-family:"Arial",sans-serif'>Archivo</span></p>

</div>

</body>

</html>
