{% extends 'XPSSSRBundle::principal.html.twig' %}

{% block body%}

    {{include ('XPSSSRBundle:Default:menu.html.twig')}}

<table>

        {% for entity in entities %}
            {% if entity.getIdResidencia.getId >= start and entity.getIdResidencia.getId <= end %}   
            <tr>
                <td>{{entity.getIdResidencia.getIdResidencia}} </td>
                <td>{{entity.getIdResidencia.getNoDeControl.getId}} </td>
                <td>{{ entity.getIdResidencia.getNoDeControl.getApPaterno }}
                {{ entity.getIdResidencia.getNoDeControl.getApMaterno }}
                {{ entity.getIdResidencia.getNoDeControl.getNombre }}</td>
                <td>{{ entity.getIdResidencia.getNoDeControl.getSexo }}</td>
                <td>{{ entity.getIdResidencia.getNombreDeProyecto }}</td>
                <td>{{ entity.getIdResidencia.getIdEmpresa.getNombre }}</td>
                <td>{{ entity.getIdResidencia.getNoDeControl.getPeriodo }}</td>
                <td>{{ entity.getIdResidencia.getIdAsesorInterno.getNombre }}  
                    {{ entity.getIdResidencia.getIdAsesorInterno.getApPaterno }}  
                    {{ entity.getIdResidencia.getIdAsesorInterno.getApMaterno }}</td>
                <td>{{ entity.getIdResidencia.getAsesorExterno }}</td>
                 <td>{{entity.getIdResidencia.getNoDeControl.getId}} </td>
                <td>{{entity.getIdResidencia.getFechaDictamen|date('d-m-Y')}} </td>
            </tr>
            {% endif %}
        {% endfor %}
</table>

{%endblock%}