
<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta name=Generator content="Microsoft Word 15 (filtered)">
<title>INSTITUTO TECNOLÓGICO DE ___________</title>
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Tahoma;
	panose-1:2 11 6 4 3 5 4 4 2 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0cm;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Times New Roman",serif;}
h1
	{margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:0cm;
	page-break-after:avoid;
	font-size:16.0pt;
	font-family:"Arial",sans-serif;}
h2
	{margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:0cm;
	page-break-after:avoid;
	font-size:14.0pt;
	font-family:"Arial",sans-serif;
	font-style:italic;}
h3
	{margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:0cm;
	page-break-after:avoid;
	font-size:13.0pt;
	font-family:"Arial",sans-serif;}
h4
	{margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:0cm;
	page-break-after:avoid;
	font-size:14.0pt;
	font-family:"Times New Roman",serif;}
h5
	{margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:0cm;
	font-size:13.0pt;
	font-family:"Times New Roman",serif;
	font-style:italic;}
h6
	{mso-style-link:"Título 6 Car";
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:center;
	page-break-after:avoid;
	font-size:9.0pt;
	font-family:"Arial",sans-serif;}
p.MsoHeading9, li.MsoHeading9, div.MsoHeading9
	{mso-style-link:"Título 9 Car";
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:center;
	page-break-after:avoid;
	punctuation-wrap:simple;
	text-autospace:none;
	font-size:11.0pt;
	font-family:"Arial",sans-serif;
	font-weight:bold;}
p.MsoHeader, li.MsoHeader, div.MsoHeader
	{mso-style-link:"Encabezado Car";
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Times New Roman",serif;}
p.MsoFooter, li.MsoFooter, div.MsoFooter
	{mso-style-link:"Pie de página Car";
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Times New Roman",serif;}
p.MsoCaption, li.MsoCaption, div.MsoCaption
	{margin:0cm;
	margin-bottom:.0001pt;
	text-align:center;
	punctuation-wrap:simple;
	text-autospace:none;
	font-size:10.0pt;
	font-family:"Arial",sans-serif;
	font-weight:bold;}
p.MsoTitle, li.MsoTitle, div.MsoTitle
	{margin:0cm;
	margin-bottom:.0001pt;
	text-align:center;
	font-size:12.0pt;
	font-family:"Arial",sans-serif;
	font-weight:bold;}
p.MsoBodyText3, li.MsoBodyText3, div.MsoBodyText3
	{margin:0cm;
	margin-bottom:.0001pt;
	text-align:center;
	punctuation-wrap:simple;
	text-autospace:none;
	font-size:11.0pt;
	font-family:"Arial",sans-serif;
	font-weight:bold;}
p.MsoAcetate, li.MsoAcetate, div.MsoAcetate
	{mso-style-link:"Texto de globo Car";
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:8.0pt;
	font-family:"Tahoma",sans-serif;}
p.Header1, li.Header1, div.Header1
	{mso-style-name:Header1;
	margin:0cm;
	margin-bottom:.0001pt;
	punctuation-wrap:simple;
	text-autospace:none;
	font-size:10.0pt;
	font-family:"Times New Roman",serif;}
span.EncabezadoCar
	{mso-style-name:"Encabezado Car";
	mso-style-link:Encabezado;}
span.PiedepginaCar
	{mso-style-name:"Pie de página Car";
	mso-style-link:"Pie de página";}
span.TextodegloboCar
	{mso-style-name:"Texto de globo Car";
	mso-style-link:"Texto de globo";
	font-family:"Tahoma",sans-serif;}
span.Ttulo6Car
	{mso-style-name:"Título 6 Car";
	mso-style-link:"Título 6";
	font-family:"Arial",sans-serif;
	font-weight:bold;}
span.Ttulo9Car
	{mso-style-name:"Título 9 Car";
	mso-style-link:"Título 9";
	font-family:"Arial",sans-serif;
	font-weight:bold;}
.MsoChpDefault
	{font-size:10.0pt;}
 /* Page Definitions */
 @page WordSection1
	{size:792.1pt 612.1pt;
	margin:36.0pt 36.0pt 36.0pt 36.0pt;}
div.WordSection1
	{page:WordSection1;}
 /* List Definitions */
 ol
	{margin-bottom:0cm;}
ul
	{margin-bottom:0cm;}
-->
</style>

</head>

<body lang=ES-MX>

<div class=WordSection1>

<table class=MsoTableGrid border=0 cellspacing=0 cellpadding=0
 style='margin-left:157.4pt;border-collapse:collapse;border:none'>
 <tr>
  <td width=534 style='width:400.85pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><b><span lang=ES
  style='font-size:14.0pt;font-family:"Arial",sans-serif'>Instituto Tecnológico
  de Toluca</span></b></p>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  style='font-family:"Arial",sans-serif'>Dictamen de Anteproyectos de
  Residencia Profesional</span></b></p>
  </td>
  <td width=83 valign=top style='width:62.4pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  style='font-family:"Arial",sans-serif'><img width=58 height=59 id="Imagen 3"
  src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('/Symfony/img/logotec.jpg') }}"></span></b></p>
  </td>
 </tr>
</table>

<p class=MsoNormal align=center style='text-align:center'><b><span
style='font-family:"Arial",sans-serif'>&nbsp;</span></b></p>

<p class=MsoNormal align=center style='text-align:center'>&nbsp;</p>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=737
 style='width:552.85pt;margin-left:118.8pt;border-collapse:collapse;border:
 none'>
 <tr style='page-break-inside:avoid;height:12.65pt'>
  <td width=113 style='width:84.9pt;border:none;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:12.65pt'>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial",sans-serif'>Departamento:</span></p>
  </td>
  <td width=320 style='width:239.95pt;border:solid windowtext 1.0pt;border-left:
  none;padding:0cm 5.4pt 0cm 5.4pt;height:12.65pt'>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial",sans-serif'>De
  Ingenierías</span></p>
  </td>
  <td width=77 rowspan=2 style='width:57.9pt;border:none;padding:0cm 5.4pt 0cm 5.4pt;
  height:12.65pt'>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial",sans-serif'>Semestre</span></p>
  </td>
  <td width=75 valign=top style='width:56.15pt;border:none;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:12.65pt'>
  <p class=MsoNormal><span lang=EN-US style='font-size:9.0pt;font-family:"Arial",sans-serif'>Ago
  - Dic</span></p>
  </td>
  <td width=36 valign=top style='width:26.85pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 5.4pt 0cm 5.4pt;height:12.65pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
  style='font-size:9.0pt;font-family:"Arial",sans-serif'>{% if 'AGO' in per1 %}
      X
      {% endif %}</span></p>
  </td>
  <td width=41 rowspan=2 style='width:30.4pt;border:none;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:12.65pt'>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial",sans-serif'>Año
  </span></p>
  </td>
  <td width=76 rowspan=2 style='width:2.0cm;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 5.4pt 0cm 5.4pt;height:12.65pt'>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial",sans-serif'>{{per2}}</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:11.5pt'>
  <td width=113 valign=top style='width:84.9pt;border:none;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:11.5pt'>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='font-size:10.0pt;font-family:"Arial",sans-serif'>Carrera</span></p>
  </td>
  <td width=320 valign=top style='width:239.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:11.5pt'>
  <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial",sans-serif'>Ingeniería
  Mecatrónica</span></p>
  </td>
  <td width=75 valign=top style='width:56.15pt;border:none;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:11.5pt'>
  <p class=MsoNormal><span style='font-size:9.0pt;font-family:"Arial",sans-serif'>Ene
  - Jun</span></p>
  </td>
  <td width=36 valign=top style='width:26.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:11.5pt'>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif'>{% if 'ENE' in per1 %}
      X
      {% endif %}</span></p>
  </td>
 </tr>
</table>

<p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
style='font-size:10.0pt;font-family:"Arial",sans-serif'>&nbsp;</span></p>

<div align=center>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=925
 style='width:693.95pt;border-collapse:collapse;border:none'>
 <tr style='page-break-inside:avoid;height:9.1pt'>
  <td width=37 rowspan=2 style='width:27.75pt;border:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:9.1pt'>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  lang=EN-US style='font-size:7.0pt;font-family:"Arial",sans-serif'>&nbsp;</span></b></p>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  style='font-size:7.0pt;font-family:"Arial",sans-serif'>Num</span></b></p>
  </td>
  <td width=61 rowspan=2 style='width:45.4pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 5.4pt 0cm 5.4pt;height:9.1pt'>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  style='font-size:7.0pt;font-family:"Arial",sans-serif'>&nbsp;</span></b></p>
  <h6><span style='font-size:7.0pt'>No. deControl</span></h6>
  </td>
  <td width=176 rowspan=2 style='width:131.8pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 5.4pt 0cm 5.4pt;height:9.1pt'>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  style='font-size:7.0pt;font-family:"Arial",sans-serif'>&nbsp;</span></b></p>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  style='font-size:7.0pt;font-family:"Arial",sans-serif'>NOMBRE DE/L/LA
  ESTUDIANTE</span></b></p>
  </td>
  <td width=42 rowspan=2 style='width:31.2pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 5.4pt 0cm 5.4pt;height:9.1pt'>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  style='font-size:7.0pt;font-family:"Arial",sans-serif'>&nbsp;</span></b></p>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  style='font-size:7.0pt;font-family:"Arial",sans-serif'>Sexo</span></b></p>
  </td>
  <td width=142 rowspan=2 style='width:106.35pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 5.4pt 0cm 5.4pt;height:9.1pt'>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  style='font-size:7.0pt;font-family:"Arial",sans-serif'>&nbsp;</span></b></p>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  style='font-size:7.0pt;font-family:"Arial",sans-serif'>ANTEPROYECTO</span></b></p>
  </td>
  <td width=66 rowspan=2 style='width:49.6pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 5.4pt 0cm 5.4pt;height:9.1pt'>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  style='font-size:7.0pt;font-family:"Arial",sans-serif'>&nbsp;</span></b></p>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  style='font-size:7.0pt;font-family:"Arial",sans-serif'>EMPRESA</span></b></p>
  </td>
  <td width=100 rowspan=2 style='width:75.05pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 5.4pt 0cm 5.4pt;height:9.1pt'>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  style='font-size:7.0pt;font-family:"Arial",sans-serif'>&nbsp;</span></b></p>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  style='font-size:7.0pt;font-family:"Arial",sans-serif'>PERÍODO DE RESIDENCIA</span></b></p>
  </td>
  <td width=180 colspan=2 style='width:134.7pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 5.4pt 0cm 5.4pt;height:9.1pt'>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  style='font-size:7.0pt;font-family:"Arial",sans-serif'>ASESORE(S)/A(S)</span></b></p>
  </td>
  <td width=57 rowspan=2 style='width:42.5pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 5.4pt 0cm 5.4pt;height:9.1pt'>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  style='font-size:7.0pt;font-family:"Arial",sans-serif'>&nbsp;</span></b></p>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  style='font-size:7.0pt;font-family:"Arial",sans-serif'>Dictamen</span></b></p>
  </td>
  <td width=66 rowspan=2 style='width:49.6pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 5.4pt 0cm 5.4pt;height:9.1pt'>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  style='font-size:7.0pt;font-family:"Arial",sans-serif'>&nbsp;</span></b></p>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  style='font-size:7.0pt;font-family:"Arial",sans-serif'>Fecha de Dictamen</span></b></p>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  style='font-size:7.0pt;font-family:"Arial",sans-serif'>&nbsp;</span></b></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:22.8pt'>
  <td width=95 style='width:70.9pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:22.8pt'>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  style='font-size:7.0pt;font-family:"Arial",sans-serif'>INTERNO/A</span></b></p>
  </td>
  <td width=85 style='width:63.8pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:22.8pt'>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  style='font-size:7.0pt;font-family:"Arial",sans-serif'>EXTERNO/A</span></b></p>
  </td>
 </tr>
        {% for entity in entities %}
            {% if entity.getIdResidencia.getId >= start and entity.getIdResidencia.getId <= end %}   
 <tr style='height:9.9pt'>
  <td width=37 style='width:27.75pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 5.4pt 0cm 5.4pt;height:9.9pt'>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='font-size:7.0pt;font-family:"Arial",sans-serif'>{{entity.getIdResidencia.getIdResidencia}} </span></p>
  </td>
  <td width=61 style='width:45.4pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:9.9pt'>
  <p class=MsoNormal><span style='font-size:7.0pt;font-family:"Arial",sans-serif;
  color:black'>{{entity.getIdResidencia.getNoDeControl.getId}}</span></p>
  </td>
  <td width=176 style='width:131.8pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:9.9pt'>
  <p class=MsoNormal><span style='font-size:7.0pt;font-family:"Arial",sans-serif;
  color:black'>{{ entity.getIdResidencia.getNoDeControl.getApPaterno }}
                {{ entity.getIdResidencia.getNoDeControl.getApMaterno }}
                {{ entity.getIdResidencia.getNoDeControl.getNombre }}</span></p>
  </td>
  <td width=42 style='width:31.2pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:9.9pt'>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='font-size:7.0pt;font-family:"Arial",sans-serif'>{{ entity.getIdResidencia.getNoDeControl.getSexo }}</span></p>
  </td>
  <td width=142 style='width:106.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:9.9pt'>
  <p class=MsoNormal><span style='font-size:7.0pt;font-family:"Arial",sans-serif;
  color:black'>{{ entity.getIdResidencia.getNombreDeProyecto }}</span></p>
  </td>
  <td width=66 style='width:49.6pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:9.9pt'>
  <p class=MsoNormal><span style='font-size:7.0pt;font-family:"Arial",sans-serif'>{{ entity.getIdResidencia.getIdEmpresa.getNombre }}</span></p>
  </td>
  <td width=100 style='width:75.05pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:9.9pt'>
  <p class=MsoNormal><span style='font-size:7.0pt;font-family:"Arial",sans-serif;
  color:black'>{{ entity.getIdResidencia.getNoDeControl.getPeriodo }}</span></p>
  </td>
  <td width=95 style='width:70.9pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:9.9pt'>
  <p class=MsoNormal><span style='font-size:7.0pt;font-family:"Arial",sans-serif;
  color:black'>{{ entity.getIdResidencia.getIdAsesorInterno.getNombre }}  
                    {{ entity.getIdResidencia.getIdAsesorInterno.getApPaterno }}  
                    {{ entity.getIdResidencia.getIdAsesorInterno.getApMaterno }}</span></p>
  </td>
  <td width=85 style='width:63.8pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:9.9pt'>
  <p class=MsoNormal><span style='font-size:7.0pt;font-family:"Arial",sans-serif;
  color:black'>{{ entity.getIdResidencia.getAsesorExterno }}</span></p>
  </td>
  <td width=57 style='width:42.5pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:9.9pt'>
  <p class=MsoNormal><span style='font-size:7.0pt;font-family:"Arial",sans-serif'>{{nd}} </span></p>
  </td>
  <td width=66 style='width:49.6pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:9.9pt'>
  <p class=MsoNormal><span style='font-size:7.0pt;font-family:"Arial",sans-serif'>{{entity.getIdResidencia.getFechaDictamen|date('d-m-Y')}} </span></p>
  </td>
 </tr>
    
            {% endif %}
        {% endfor %}
</table>

</div>


<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>&nbsp;</p>

<table class=Tablaconcuadrla border=0 cellspacing=0 cellpadding=0 align=left
 style='border-collapse:collapse;border:none;margin-left:4.8pt;margin-right:
 4.8pt'>
 <tr>
  <td width=244 valign=top style='width:182.7pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=ES
  style='font-size:10.0pt;font-family:"Arial",sans-serif'>Elaboró</span></p>
  </td>
  <td width=244 valign=top style='width:182.7pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=ES
  style='font-size:10.0pt;font-family:"Arial",sans-serif'>Validó</span></p>
  </td>
  <td width=244 valign=top style='width:182.75pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=ES
  style='font-size:10.0pt;font-family:"Arial",sans-serif'>Validó</span></p>
  </td>
  <td width=244 valign=top style='width:182.75pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=ES
  style='font-size:10.0pt;font-family:"Arial",sans-serif'>Vo. Bo.</span></p>
  </td>
 </tr>
 <tr style='height:24.4pt'>
  <td width=244 valign=top style='width:182.7pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:24.4pt'>
  <p class=MsoNormal><span style='font-size:9.0pt;font-family:"Arial",sans-serif'>&nbsp;</span></p>
  </td>
  <td width=244 valign=top style='width:182.7pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:24.4pt'>
  <p class=MsoNormal><span style='font-size:9.0pt;font-family:"Arial",sans-serif'>&nbsp;</span></p>
  </td>
  <td width=244 valign=top style='width:182.75pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:24.4pt'>
  <p class=MsoNormal><span style='font-size:9.0pt;font-family:"Arial",sans-serif'>&nbsp;</span></p>
  </td>
  <td width=244 valign=top style='width:182.75pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:24.4pt'>
  <p class=MsoNormal><span style='font-size:9.0pt;font-family:"Arial",sans-serif'>&nbsp;</span></p>
  </td>
 </tr>
 <tr style='height:13.45pt'>
  <td width=244 valign=top style='width:182.7pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.45pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=ES
  style='font-size:10.0pt;font-family:"Arial",sans-serif'>Jefatura de Proyectos
  de Vinculación</span></p>
  </td>
  <td width=244 valign=top style='width:182.7pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.45pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=ES
  style='font-size:10.0pt;font-family:"Arial",sans-serif'>Presidencia de
  Academia</span></p>
  </td>
  <td width=244 valign=top style='width:182.75pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.45pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=ES
  style='font-size:10.0pt;font-family:"Arial",sans-serif'>Jefatura de
  Departamento Académico</span></p>
  </td>
  <td width=244 valign=top style='width:182.75pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:13.45pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=ES
  style='font-size:10.0pt;font-family:"Arial",sans-serif'>Subdirección Académica</span></p>
  </td>
 </tr>
 <tr>
  <td width=244 valign=top style='width:182.7pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;background:white'><span
  lang=ES style='font-size:10.0pt;font-family:"Arial",sans-serif'>Ing. Víctor Rivera Cortés</span></p>
  </td>
  <td width=244 valign=top style='width:182.7pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=ES
  style='font-size:10.0pt;font-family:"Arial",sans-serif'>Ing. Adelfo Ortiz
  García</span></p>
  </td>
  <td width=244 valign=top style='width:182.75pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=ES
  style='font-size:10.0pt;font-family:"Arial",sans-serif'>Ing. Roger Isaac
  Bartolo Alarcón</span></p>
  </td>
  <td width=244 valign=top style='width:182.75pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=ES
  style='font-size:10.0pt;font-family:"Arial",sans-serif'>M. en C. Arturo
  Vázquez Lara</span></p>
  </td>
 </tr>
</table>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>&nbsp;</p>

</div>

</body>

</html>
