{% extends 'XPSSSRBundle::principal.html.twig' %}

{% block body%}

    {{include ('XPSSSRBundle:Default:menu.html.twig')}}

    <table class="infobar"; width=100%; vertical-align:top;>
        <tr>
            <td width=65%; vertical-align:top;>
                <h3>Crear Dicatmenes</h3>
            </td>
            
                            
            <td width=35%; align="right"; vertical-align:top;> 
                <a href="{{ path('xpsssr_homepage') }}" class="btn btn-inverse btn-xs">Regresar al inicio</a>&nbsp;
            </td>

            
        </tr>
     </table>
<br>
<div class="container">
<div class="row ">
<div class="col-md-8 col-md-offset-2">
    <form  action="{{ path('xpsssr_Dictamen2') }}"  id="registrationForm" method="post" class="form-horizontal" id="formulario">
        <div class="form-group col-md-6" >
        <label class="col-md-3 control-label">Semestre</label>
        <div class="col-md-9">
        <select class="form-control" name="per1">
        <option value="AGO-DIC ">AGO-DIC</option>
        <option value="ENE-JUN ">ENE-JUN</option>
        </select>
        </div>
        </div>
        
        <div class="form-group col-md-4">
        <label class="col-md-3 control-label">Año</label>
        <div class="col-md-9">
        <select class="form-control" name="per2">
        <option value="2015">2015</option>
        <option value="2016">2016</option>
        <option value="2017">2017</option>
        <option value="2018">2018</option>
        <option value="2019">2019</option>
        </select>
        </div>
        </div>
        
    <div class="form-group col-md-2">
    <!-- Do NOT use name="submit" or id="submit" for the Submit button -->
    <button class="btn btn-primary btn-xs" type="submit" id="_submit" name="_submit">Buscar</button>
    </div>

    

</form>


</div>
</div>
</div>


{%endblock%}