{% extends 'XPSSSRBundle::principal.html.twig' %}

{% block body%}
<script src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('/Symfony/js/bootstrap-select.min.js')}}"></script>

<style type="text/css">
#bootstrapSelectForm .selectContainer .form-control-feedback {
    /* Adjust feedback icon position */
    right: -15px;
}
</style>
    {{include ('XPSSSRBundle:Default:menu.html.twig')}}

    <table class="infobar"; width=100%; vertical-align:top;>
        <tr>
            <td width=65%; vertical-align:top;>
                <h3>Crear Dicatmenes</h3>
            </td>
            
                            
            <td width=35%; align="right"; vertical-align:top;> 
                <a href="{{ path('xpsssr_homepage') }}" class="btn btn-inverse btn-xs">Regresar al inicio</a>&nbsp;
            </td>

            
        </tr>
     </table>
<br>
<div class="container">
<div class="row ">
<div class="col-md-8 col-md-offset-2">
    <form  action="{{ path('xpsssr_Dictamen2') }}"  id="registrationForm" method="post" class="form-horizontal">
        <div class="form-group col-md-6" >
        <label class="col-md-3 control-label">Semestre</label>
        <div class="col-md-9">
        <select class="form-control" name="per1">            
            {% if 'AGO' in per1 %}
            <option value="AGO-DIC " selected>AGO-DIC</option>
            {% else %}
            <option value="AGO-DIC ">AGO-DIC</option>
            {% endif %}    
            {% if 'ENE' in per1 %}
            <option value="ENE-JUN " selected>ENE-JUN</option>
            {% else %}
            <option value="ENE-JUN ">ENE-JUN</option>
            {% endif %}    
        </select>
        </div>
        </div>
        
        <div class="form-group col-md-4">
        <label class="col-md-3 control-label">Año</label>
        <div class="col-md-9">
        <select class="form-control" name="per2">
            
            
        {% if '2015' in per2 %}
        <option value="2015" selected>2015</option>
        {% else %}
        <option value="2015">2015</option>
        {% endif %}
            
        {% if '2016' in per2 %}
        <option value="2016" selected>2016</option>
        {% else %}
        <option value="2016">2016</option>
        {% endif %} 
            
        {% if '2017' in per2 %}
        <option value="2017" selected>2017</option>
        {% else %}
        <option value="2017">2017</option>
        {% endif %} 
            
        {% if '2018' in per2 %}
        <option value="2018" selected>2018</option>
        {% else %}
        <option value="2018">2018</option>
        {% endif %} 

        {% if '2019' in per2 %}
        <option value="2019" selected>2019</option>
        {% else %}
        <option value="2019">2019</option>
        {% endif %} 
        </select>
        </div>
        </div>
        
    <div class="form-group col-md-2">
    <!-- Do NOT use name="submit" or id="submit" for the Submit button -->
    <button class="btn btn-primary btn-xs" type="submit" >Buscar</button>
    </div>
</form>
</div>
</div>
</div>

<div class="container">
<div class="row ">
<div class="col-md-8 col-md-offset-2">

    <form action="{{ path('xpsssr_Dictamen3') }}"  id="bootstrapSelectForm" method="post" class="form-horizontal">
    
    <div class="form-group">
        <label class="col-sm-3 control-label">Residencia de Incio: </label>
        <div class="col-sm-5 ">
            <select name="start" class="form-control">
                {% for entity in entities %}
                    {% if  periodo in entity.getIdResidencia.getNoDeControl.getPeriodo %}
                        <option value="{{entity.getIdResidencia.getId}}">{{entity.getIdResidencia.getIdResidencia}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
        
            <div class="form-group">
        <label class="col-sm-3 control-label">Residencia Final: </label>
        <div class="col-sm-5 ">
            <select name="end" class="form-control">
                {% for entity in entities %}
                    {% if  periodo in entity.getIdResidencia.getNoDeControl.getPeriodo %}
                        <option value="{{entity.getIdResidencia.getId}}">{{entity.getIdResidencia.getIdResidencia}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>

       <div class="form-group">
        <label class="col-sm-3 control-label">Numero de Dictamen:</label>
        <div class="col-sm-5"> <input class="form-control" type="text" name ="nd" ></div>
        </div>
        <input type="hidden" name ="per1" value="{{per1}}" >
        <input type="hidden" name ="per2" value="{{per2}}" >
        
        
    <div class="form-group">
        <div class="col-sm-5 col-sm-offset-3">
            <button type="submit" class="btn btn-lg btn-primary">Generar</button>
        </div>
    </div>
</form>
    
</div>
</div>
</div>
    <script>
        $(document).ready(function() {
    $('#bootstrapSelectForm')
        .find('[name="start"]')
            .selectpicker()
            .change(function(e) {
                // revalidate the start when it is changed
                $('#bootstrapSelectForm').bootstrapValidator('revalidateField', 'start');
            })
            .end()
            .find('[name="end"]')
            .selectpicker()
            .change(function(e) {
                // revalidate the start when it is changed
                $('#bootstrapSelectForm').bootstrapValidator('revalidateField', 'end');
            })
            .end()
        .bootstrapValidator({
            excluded: ':disabled',
            fields: {
                start: {
                    validators: {
                        notEmpty: {
                            message: 'Debe seleccionar un valor.'
                        },
                    lessThan:{
                        value:'end'
                    }
                    }
                },            nd: {
                validators: {
                    notEmpty: {
                       
                    },
                    regexp: {
                        regexp: /^[0-9]+$/,
                        message: 'solo numeros enteros'
                    },
                    stringLength: {
                        min: 8,
                        max: 8,
                        message: 'Este campo debe contener 8 numeros'
                    }
                }
            },
                end: {
                    validators: {
                        notEmpty: {
                            message: 'Debe seleccionar un valor.'
                        },
                        greaterThan:{
                        value:'start'
                    }
                    }
                }
            }
        });
});
    </script>

{%endblock%}