{% extends 'XPSSSRBundle::principal.html.twig' %}

{% block body%}

    {{include ('XPSSSRBundle:Default:menu.html.twig')}}


        <section class="col-md-12">
        <div class="col-md-1">
            <ul class="nav nav-listgroup" role="tablist"> 
                <li role="presentation" class="active"><a href="#art1" role="tab" data-toggle="tab" >Articulo1</a></li>
                <li role="presentation"><a href="#art2" role="tab" data-toggle="tab">Articulo2</a></li>
                <li role="presentation"><a href="#art3" role="tab" data-toggle="tab">Articulo3</a></li>
                <li role="presentation"><a href="#art4" role="tab" data-toggle="tab">Articulo4</a></li>
            </ul>  
        </div>
        
    
            
            <ul class="nav nav-tabs" role="tablist"> 
                <li role="presentation" class="active"><a href="#art1" role="tab" data-toggle="tab" >Articulo1</a></li>
                <li role="presentation"><a href="#art2" role="tab" data-toggle="tab">Articulo2</a></li>
                <li role="presentation"><a href="#art3" role="tab" data-toggle="tab">Articulo3</a></li>
                <li role="presentation"><a href="#art4" role="tab" data-toggle="tab">Articulo4</a></li>
            </ul>
            
            
            <div class="tab-content"> 
                <div role="tabpanel" class="tab-pane active" id="art1">
                    <img class="img-responsive col-md-11" src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('/Symfony/img/Menu_007.png')}}" alt="Imagen" >
                </div>
                
                <div role="tabpanel"  class="tab-pane" id="art2">
                    <p>     morris
                            toggle bootstrap.js
                            prosbox virualizacion 7seg.
                    </p>
                </div>
                
                <div role="tabpanel" class="tab-pane"  id="art3">
                    
                </div>
                
                <div role="tabpanel" class="tab-pane"  id="art4">
                    
                </div>
            </div>
            
            
   
        </section>
        <footer class="col-md-12" >
            <div class="col-md-4">
                <h2>Contacto</h2>
                    <p>
                        algo
                    </p>
            </div>
                <div class="col-md-4">
                <h2>Info</h2>
                    <p>
                        algo
                    </p>  
                </div>
            <div class="col-md-4">
                <h2>Destacado</h2>
                    <p>
                        algo
                    </p>
            </div>
        </footer>
    
    <script>
        $(document).ready(function() {
            $('#tablita').dataTable( {
                "sScrollX": "100%",
                "sScrollXInner": "100%",
                "sScrollY": "100%",
                "sScrollYInner": "100%",
                "bScrollCollapse": true,
                "language": {
                                "emptyTable":     "No hay entradas en la tabla",
                                "info":           "Mostrando de _START_ a  _END_ de _TOTAL_ entradas",
                                "infoEmpty":      "Mostrando 0 to 0 of 0 entradas",
                                "infoFiltered":   "(Filtrar por _MAX_ total de entradas)",
                                "infoPostFix":    "",
                                "thousands":      ",",
                                "lengthMenu":     "Mostrar _MENU_ entradas",
                                "loadingRecords": "Cargando...",
                                "processing":     "Procesando...",
                                "search":         "Buscar:",
                                "zeroRecords":    "No hay coincidencias",
                                "paginate": {
                                    "first":      "Primera",
                                    "last":       "Ultima",
                                    "next":       "Siguiente",
                                    "previous":   "Anterior"
                                },
                                "aria": {
                                    "sortAscending":  ": Ordenar de manera Ascendente",
                                    "sortDescending": ": Ordenar de manera Decendente"
                                }
                            }
            } );
        } );
    </script>

{%endblock%}
