body{
font-size:16px;
background: #F7F7F7;
}

footer{
    background: #333;
    color: #888;
    padding-bottom: 20px;
}

.navbar{
    background: #333;
    border-radius: 0px;
    padding: 0px;
    margin: 0px;
}
.navbar-inverse .navbar-nav, .menu section, .infobar section{
    padding: 0px;
    margin: 0px;
}

.table-hover tbody tr:hover td {
   background: #393737;
    color:#ffab00;
}

.table-hover tbody tr td {
   background: #313131;
   color:white;
}

.table-condensed tbody .warn td {
   background: #ffd172;
   color:black;
}

.xwarn {
   background: #ffab00;
}


.table-condensed tbody .fail td {
   background: #dd4172;
   color:white;
}

.table-condensed tbody .xpass td {
   background: #73c172;
   color:black;
}


.table-condensed tbody .finishHim td {
   background: #9e9e9e;
   color:black;
}



.infobar{
    background: #504f4f;
}


.infobar a{
    text-decoration:none;
}


.tab-content{
    height: 225px;
}



.icon-preview , .infobar h4, .navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-nav>li>a { color:white}
.infobar h3, .infobar h4:hover, .infobar h4:focus, .navbar-inverse .navbar-nav>li>a:hover, .icon-preview:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color:#ffab00;}

.infobar h4, .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { font-weight:bold}

@media (max-width:799px){
    .nav-listgroup li{
    display: inline-block;
    }
    
}


.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 20px 0px 20px 0px;
    background-color: #e2e2e2;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}

.btn{
    background-color: #433b35;
}

.btn:hover{
    background-color: black;
    color:#ffab00;
}

.navbar-brand a{
    color:#BC0400;
}