@font-face
{
    font-family: titlefont;
    src: url(open.ttf);
    font-style: normal;
    font-weight: 300;
    
}


@font-face
{
    font-family: pontiac;
    src: url(pontiac.ttf);
    font-style: normal;
    font-weight: 300;
}

*{  
    
    margin:0px;
    padding:0px;
}


body{
    font-family: titlefont;
    background:#b5b5b5;
    overflow: auto;
}

/*titulo*/


div.exampleborderradiuse {
width: 50%;
background-color: rgba(70, 70, 70, 0.74);
border-radius: 25px 10px / 10px 25px;
-moz-border-radius: 25px 10px / 10px 25px;
-webkit-border-radius: 25px 10px / 10px 25px;
}


#place{
    background: #71b2f0;
    width: 958px;
    margin:0px auto;
    position: relative;

}


a:link, a:hover, a:visited, a:active {color:#fff;}      /* unvisited link *

