header{
        background: #ddd;
        height: auto;
        padding-top: 30px;
        padding-bottom: 15px;
        width: 100%;

      }

foooter div p{
width: 100%;
}

footer{
    background: #333;
    height: auto;
    padding-bottom: 20px;
    padding-top: 30px;
    padding-left: 20px;
}

footer div{
    color #999;
    display: inline-block;
    width: 31%;
    vertical-align: top;

}

a{
    color: #e2e2e2;
    text-decoration: none;
}

.nav-bar li a:hover{
    color: orange;
    
}

.nav{
    height: 50px;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    background: #666;
    }

.nav-bar{
        list-style: none;
        }
.nav-bar li{
        display: inline-block;
        width: 24%;
        text-align: center;
        }
.img{
    width: 100%;
    height: 56%;
    }

@media (max-width:900px){

}

@media (max-width:720px){
    .img{
    width: 200px;
    height: 500px;
    }
    
        footer div{
    display: block;
    width: 100%;

}
}

@media (max-width:480px){
 

    .img{
    width: 100px;
    height: 300px;
    }
}