header{
		background: #ddd;
		height: auto;
		padding-bottom: 30px;
		padding-top: 15px;
		width: 100%;
	}
footer{
	background: #333;
	height: auto;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-top: 30px;
}
footer div{
	color: #999;
	display: inline-block;
	vertical-align: top;
	width: 31%;
}

a{
	color: #ccc;
	text-decoration: none;
}

.nav-bar li a:hover{
	color: orange;
}

.nav{
	background: #666;
	height: 50px;
	padding-bottom: 10px;
	padding-top: 10px;
	width: 100%;
	}
.nav-bar{
	list-style: none;
}

.nav-bar li{
	display: inline-block;
	text-align: center;
	width: 24%;
}
.img{
	height: 450px;
	width: 100%;
}

@media (max-width: 800px){


}

@media (max-width: 700px){
	.img{
		height: 200px;
		width:500px;

	}
}
@media (max-width: 600px){
	footer div{
		display: block;
		width: 100%;
	}
	.img{
		height: 100px;
		width:300px;

	}

}