@font-face
{
    font-family: titlefont;
    src: url(open.ttf);
    font-style: normal;
    font-weight: 300;
}


@font-face
{
    font-family: pontiac;
    src: url(pontiac.ttf);
    font-style: normal;
    font-weight: 300;
}

*{
    margin:0px;
    padding:0px;

}


body{
    font-family: titlefont;
    color:white;
    background:black;
    overflow: auto;
}

/*titulo*/



p#header{
    text-align: center;
    font-size: 2.5em;
    color:#9a9a9a;
}

p#subheader{
    text-align: center;
    color:#cecece;
    margin-top:20px;
    font-size: 1.3em;
}


#place{
    margin:40px auto;
    position: relative;
    width:1020px;
    height:560px;
    border: 5px solid rgb(21,40,54);

}


#other{
	width:1020px;
    height:419px;
    background-color: #002243;
	overflow: auto;
}
header{
    width:100%;
    height:95px;
    background-color: rgb(21,40,54);
}

div.logo{
    display: block;
    color:white;
    font-family: pontiac;
    float:right;
    margin-top:25px;
    margin-right:8px;
}

div.contenedor{
    font-family: titlefont;
    width: 85px;
    height: 95px;
    float:left;
    -webkit-transition: height .4s;
    -moz-transition: height .4s;
    transition: height .4s;
}

div#element{
    background-color: rgb(21,40,54);
}

div#element:hover{
    background-color: #0c2a50;
}

img.icon{
    display: block;
    margin:0px auto;
    background-color: rgba(255,255,255,.15);
    width:29%;
    padding:25%;
    -webkit-border-radius: 50%;
    -webkit-box-shadow: 0px 0px 0px 30px rgba(255,255,255,0);
    -webkit-transition:box-shadow .4s;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: 0px 0px 0px 30px rgba(255,255,255,0);
    box-shadow: 0px 0px 0px 30px rgba(255,255,255,0);
    -moz-transition:box-shadow .4s;
    transition:box-shadow .4s;
}

p.texto{
    font-size: 1em;
    font-weight:bold;
    color:white;
    text-align: center;
    padding-top:3px;
    opacity: .6;
    -webkit-transition: padding-top .4s;
    -moz-transition: padding-top .4s;
    transition: padding-top .4s;
}



div.contenedor:hover p.texto{
    font-size: 1.2em;
    padding-top: 10px;
    opacity: 1;
    color: #ffae00
}

div.contenedor:hover img.icon{
    -webkit-box-shadow:0px 0px 0px 0px rgba(255,255,255,.6);
    -moz-box-shadow:0px 0px 0px 0px rgba(255,255,255,.6);
    box-shadow:0px 0px 0px 0px rgba(255,255,255,.6);
}

div.pict {  position: relative;
            -webkit-transition: all 0.6s ease-in-out; 
            -moz-transition: all 0.6s ease-in-out; 
            -o-transition: all 0.6s ease-in-out; 
            transition: all 0.6s ease-in-out; 
}

div.pict h2{
    display:block;
    width:320px;
    background-color: rgba(0,0,0,.5);
    color: white;
    text-align: right;
    position: absolute; 
    left: 0;
    bottom: 5px; 
}


div.texts {display:block; 
           position:absolute; 
           width: 320px;
           height: 216px;
           top: 0;
           left: 0;
           color:white; 
           font-size:40px;
           text-align:left; 
           margin:5px 10px;
           padding:0;
           font-weight: bold;
}


.tileup,
.tiledo,
.tiler,
.tile {width:320px; height:213px; 
       position:relative; overflow:hidden; 
       border:0; margin:5px 10px; float:left;
       font-family: titlefont;}

.tileup,
.tiledo,
.tiler,
.tile a {display:block; width:320px; 
         height:213px; text-decoration:none;
         color:#000;}


.tiledo p,
.tileup p,
.tiler p,
.tile p {display:block; width:320px; height:213px;
         position:absolute; 
         z-index:1; 
         background:transparent; 
         font-size:12px; 
         color: white; background-color: rgb(21,40,54);
         padding:0; margin:0px 0px; line-height:16px;
         -webkit-transition: all 0.6s ease-in-out;
         -moz-transition: all 0.6s ease-in-out;
         -o-transition: all 0.6s ease-in-out;
         transition: all 0.6s ease-in-out;
}


.tiledo p b,
.tileup p b,
.tiler p b,
.tile p b {display:block; font-size:22px; 
           color:#fc0; text-align:left;
           margin:5px 10px; padding:0; 
           line-height:30px;}


.tiledo p span,
.tileup p span,
.tiler p  span,
.tile p span {display:block; 
              padding:10px;
              line-height:20px;}

.tiler p { left:320px; top:0; }
.tile p {left:-320px; top:0; }
.tileup p { left:0; top:-213px;}
.tiledo p {left:0; top:213px; }

.tiler a:hover,
.tile a:hover,
.tileup a:hover,
.tiledo a:hover {direction:ltr;}

.tiler a:hover p,
.tile a:hover p {left:0;}

.tileup a:hover p,
.tiledo a:hover p {top:0;}

.tiler a:hover .pict {margin-left:-320px;}
.tileup a:hover .pict {margin-top:213px;}
.tile a:hover .pict {margin-left:320px;}
.tiledo a:hover .pict {margin-top:-213px;}

a:link, a:hover, a:visited, a:active {color:#fff;}   