{% extends 'proyectoejemploBundle::principal.html.twig' %}
{% block body %}
{{include ('proyectoejemploBundle:Default:arriba.html.twig')}}


    <h1>alumnos</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Apellidop</th>
                <td>{{ entity.apellidoP }}</td>
            </tr>
            <tr>
                <th>Apellidom</th>
                <td>{{ entity.apellidoM }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ entity.direccion }}</td>
            </tr>
            <tr>
                <th>Noctrl</th>
                <td>{{ entity.noCtrl }}</td>
            </tr>
            <tr>
                <th>Semestre</th>
                <td>{{ entity.semestre }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Carrera</th>
                <td>{{ entity.carrera }}</td>
            </tr>
            <tr>
                <th>Ingreso</th>
                <td>{{ entity.ingreso }}</td>
            </tr>
            <tr>
                <th>Egreso</th>
                <td>{{ entity.egreso }}</td>
            </tr>
            <tr>
                <th>Contrasena</th>
                <td>{{ entity.contrasena }}</td>
            </tr>
            <tr>
                <th>Sexo</th>
                <td>{{ entity.sexo }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Reticula</th>
                <td>{{ entity.reticula }}</td>
            </tr>
        </tbody>
    </table>

   {% if  (app.session.get('lvl')==1) %}       

        <a href="{{ path('alumnos') }}">
            Back to the list
        </a>
        </br>
        <a href="{{ path('alumnos_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    {{ form(delete_form) }}
    {% endif %}

 {{include ('proyectoejemploBundle:Default:abajo.html.twig')}}

    {% endblock %}

