{% extends 'proyectoejemploBundle::principal.html.twig' %}
{% block body %}
{{include ('proyectoejemploBundle:Default:arriba.html.twig')}}
  
   {% if  (app.session.get('lvl')==1) %}
                 	
    <h1>grupos list</h1>

    <table class="records_list" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Clave</th>
                <th>Materia</th>
                <th>Status</th>
                <th>Periodo</th>
                <th>Anio</th>
                <th>Maxialu</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('grupos_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.clave }}</td>
                <td>{{ entity.idMateria.Nombre }}</td>
                <td>{{ entity.status }}</td>
                <td>{{ entity.periodo }}</td>
                <td>{{ entity.anio }}</td>
                <td>{{ entity.maxiAlu }}</td>
                <td>
  
                        <a href="{{ path('grupos_show', { 'id': entity.id }) }}">show</a>
                        </br>
                        <a href="{{ path('grupos_edit', { 'id': entity.id }) }}">edit</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


            <a href="{{ path('grupos_new') }}">
                Create a new entry
            </a>

{% endif %}
{{include ('proyectoejemploBundle:Default:abajo.html.twig')}}
{% endblock %}
