{% extends 'XPSSSRBundle::principal.html.twig' %}

{% block body%}

    {{include ('XPSSSRBundle:Default:menu.html.twig')}}
       <table class="infobar"; width=100%; vertical-align:top;>
        <tr>
            <td width=65%; vertical-align:top;>
                <h3>Información de {{ entity.id }} {{ entity.ApPaterno }} {{ entity.ApMaterno }}  {{ entity.Nombre }}</h3>
            </td>
            </section>
            
            <td width=35%; align="right"; vertical-align:top;>
                
                
            <a href="{{ path('asesorinterno') }}" class="btn btn-inverse btn-xs">Regresar a la lista</a>&nbsp;
            <a href="{{ path('asesorinterno_edit', { 'id': entity.id }) }}" class="btn btn-inverse btn-xs">Editar</a>&nbsp;
            <a href="{{ path('asesor_disa', { 'id': entity.id }) }}" class="btn btn-inverse btn-xs">Eliminar</a>&nbsp;

            </td>
            </section>
        </tr>
     </table>


    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Appaterno</th>
                <td>{{ entity.ApPaterno }}</td>
            </tr>
            <tr>
                <th>Apmaterno</th>
                <td>{{ entity.ApMaterno }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.Nombre }}</td>
            </tr>
            <tr>
                <th>Especialidad</th>
                <td>{{ entity.Especialidad }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ entity.Telefono }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ entity.Estado }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
