{% extends 'proyectoejemploBundle::principal.html.twig' %}
{% block body %}
{{include ('proyectoejemploBundle:Default:arriba.html.twig')}}
  
   {% if  (app.session.get('lvl')==1) %}
    <h1>grupoAlumno</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Semestre</th>
                <td>{{ entity.semestre }}</td>
            </tr>
            <tr>
                <th>No. de control</th>
                <td>{{ entity.idAlumno.NoCtrl }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.idAlumno.Nombre }}&nbsp{{ entity.idAlumno.ApellidoP }}&nbsp{{ entity.idAlumno.ApellidoM }}</td>
            </tr>
            <tr>
                
            <tr>
                <th>Materia</th>
                <td> {{ entity.idGrupo.idMateria.Nombre }} </td>
            </tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
        </tbody>
    </table>

      
        <a href="{{ path('grupoAlumno') }}">
            Back to the list
        </a>
        </br>
        <a href="{{ path('grupoAlumno_edit', { 'id': entity.id }) }}">
            Edit
        </a>
{{ form(delete_form) }}
{% endif %}
{{include ('proyectoejemploBundle:Default:abajo.html.twig')}}
{% endblock %}