{% extends 'proyectoejemploBundle::principal.html.twig' %}

{% block title %} 
	Consultas
{% endblock %}

{% block body %}
	<h1>Bienvenido a el sistema de tutorias consultas </h1>

	{{ include('proyectoejemploBundle:Default:menu.html.twig') }}	
	<h1>seleccione una tabla</h1>

	<br/>
	<a href="{{ path('proyectoejemplo_consultasmat') }}">
		Materias
	</a>

	<br/>
	<a href="{{ path('proyectoejemplo_consultasalu') }}">
		Alumnos
	</a>

	<br/>
	<a href="{{ path('proyectoejemplo_consultasprof') }}">
		Profesores
	</a>
{% endblock %}