
{% extends 'proyectoejemploBundle::principal.html.twig' %}
{% block body %}



<div id="place">
    

 {{include ('proyectoejemploBundle:Default:menu.html.twig')}}
    <table cellspacing="0" width="100%" >
        <tr valign="top">
            <td  width="20%" bgcolor="#f0a943" height="400px">
            {% if  (app.session.get('var')!=1) %}     	
                <h2>Acceso</h2>

                <a href="{{ path('tutorl') }}">
                Tutor
                </a>
                <br/>
                <a href="#">
                Tutorados
                </a>
            </td>
            
            {% else %}
            <h2>Menu</h2>


                <a href="{{ path('vergrupos') }}">
                Grupos
                </a>
           
            
            {% if  (app.session.get('lvl')==1) %}
                    <br/>
                    <br/>
                    <h2>Super Usuario</h2>

                    <a href="{{ path('materias') }}">
                    Materias
                    </a>
                    <br/>
                    <a href="{{ path('alumnos') }}">
                    Alumnos
                    </a>
                    <br/>
                    <a href="{{ path('profesores') }}">
                    Profesores
                    </a>
                    <br/>
                    <a href="{{ path('calificaciones') }}">
                    Calificaciones
                    </a>
                    <br/>
                    <a href="{{ path('grupos') }}">
                    Asignacion de profesores
                    </a>
                    <br/>
                    <a href="{{ path('grupoAlumno') }}">
                    Asignacion de alumnos
                    </a>
                    
                    {% endif %}
            
            
            {% endif %}
             </td>
            <td  width="80%" >
                 	

            </td>
            

        </tr>
    </table>
   


</div>


{% endblock %}