{% extends 'proyectoejemploBundle::principal.html.twig' %}
{% block body %}
{{include ('proyectoejemploBundle:Default:arriba.html.twig')}}

<h1>seleccione grupo</h1>
<form action="{{ path('calificaciones4') }}" method="post" id="formulario">
                <select name ="grupo">
				{% for grupo in grupos %}
				{% if (grupo.status == 1) %}
                {% if (grupo.idProfesor.id == app.session.get('whoami')) %}
				<option value={{ grupo.id }}>{{ grupo.idMateria.Nombre }} {{ grupo.clave }} {{ grupo.periodo }} {{ grupo.anio }}</option>
				{% endif %}
                {% endif %}
				{% endfor %}

	<input type="submit" value="Siguiente">

</form>

 {{include ('proyectoejemploBundle:Default:abajo.html.twig')}}
{% endblock %}