{% extends 'proyectoejemploBundle::principal.html.twig' %}
{% block body %}
{{include ('proyectoejemploBundle:Default:arriba.html.twig')}}
  
   {% if  (app.session.get('lvl')==1) %}
<h1>alumnos list</h1>

    <table class="records_list" width="100%" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellidop</th>
                <th>Apellidom</th>
                <th>No. de control</th>
                <th>Semestre</th>
                <th>Carrera</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('alumnos_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.apellidoP }}</td>
                <td>{{ entity.apellidoM }}</td>
                <td>{{ entity.noCtrl }}</td>
                <td>{{ entity.semestre }}</td>
                <td>{{ entity.carrera }}</td>
                <td>
                </br>
                
                        <a href="{{ path('alumnos_show', { 'id': entity.id }) }}">show</a>
                </br>    
                        <a href="{{ path('alumnos_edit', { 'id': entity.id }) }}">edit</a>
                    
                
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        
            <a href="{{ path('alumnos_new') }}">
                Create a new entry
            </a>


{% endif %}
{{include ('proyectoejemploBundle:Default:abajo.html.twig')}}
{% endblock %}